{% extends 'factory/layouts/default.html.twig' %}

{% block content %}

    <h1>{{ app.user.email }}</h1>
    <hr/>

    <form method="POST" action="?">
    <div class="container-fluid">
        <div class="row">
            {% for k, v in app.user.getObjectVars() %}
                {% if k starts with "theme_" %}
                    <div class="col-12 mt-1">
                        <div class="btn-group" role="group" aria-label="">
                            <input type="radio" class="btn-check" name="{{ k }}" id="btn-{{ k }}-y" value="on" autocomplete="off"
                                   {% if v == true %}checked{% endif %}>
                            <label class="btn btn-outline-primary" for="btn-{{ k }}-y">
                                {{ "Yes"|trans }}
                            </label>

                            <input type="radio" class="btn-check" name="{{ k }}" id="btn-{{ k }}-n" value="off" autocomplete="off"
                                   {% if not v %}checked{% endif %}>
                            <label class="btn btn-outline-primary" for="btn-{{ k }}-n">
                                {{ "No"|trans }}
                            </label>
                        </div>
                        <span>
                            {{ k }}
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr/>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <input class="btn btn-primary" type="submit" value="{{ "Save"|trans }}">

    </form>


{% endblock %}

