{% extends 'factory/layouts/default.html.twig' %}

{% block content %}

<style>

    .schedule
    {
        font-family: monospace;
        border: 1px solid #282A35;
        border-collapse: collapse;
        font-size: 12px;
        width: 100%;
    }

    .schedule td
    {
        border: 1px solid #282A35;
        border-collapse: collapse;
        padding: 6px;
        text-align: center;
    }

    .month-name
    {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        background-color: #ffff00;
        color: #000;
    }

    .head-col-name
    {
        background: #d9d9d9;
    }

    .schedule-data
    {
        background: #cfe2f3;
    }

    .item-file-link
    {
        padding: 6px 6px;
        float: left;
        margin: 4px 12px;
        border: 1px solid #212121;
        background: #aad1ed
    }

    .lineitem-done
    {
        background: #a4e391;
    }


    .part-done
    {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: #a4e391;
    }
</style>

{% for year, months in queue %}
    {% for month, orders in months %}

        {% set monthsize = 0 %}
        {% for order in orders %}
            {% for serie in order.children %}
                {% if app.user.schedule_show_completed_item %}
                    {% for sp in serie.products %}
                        {% if app.user.schedule_show_only_user_related_products %}
                            {% if app.user.id in sp.element.suppliers|map(x=>x.id) %}
                                {% set monthsize = monthsize + 1 %}
                            {% endif %}
                        {% else %}
                            {% set monthsize = monthsize + 1 %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for sp in serie.products %}
                        {% if not sp.data.QuantityDone %}
                            {% if app.user.schedule_show_only_user_related_products %}
                                {% if app.user.id in sp.element.suppliers|map(x=>x.id) %}
                                    {% set monthsize = monthsize + 1 %}
                                {% endif %}
                            {% else %}
                                {% set monthsize = monthsize + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% if monthsize %}
            <div class="container mt-4">
            <table class="schedule">
                <thead>
                <tr>
                    <td colspan="8" class="month-name">
                        {% if year > 0 and month > 0 and month < 13 %}
                            {{ orders[0].date.locale(app.request.locale).translatedFormat('F Y') }}
                            <span>
                                {% set cY = orders[0].date.year %}
                                {% set cM = orders[0].date.month %}
                                <a class="btn btn-primary-outline" href="{{ path("factory_schedule", {y: cY, m: cM, type: 'print'}) }}" target="_blank">
                                    <img src="/bundles/pimcoreadmin/img/flat-color-icons/print.svg" alt="print month">
                                </a>
                            </span>
                        {% else %}
                            <span>
                                Do zaplanowania
                            </span>
                        {% endif %}
                    </td>
                </tr>
                <tr class="head-col-name">
                    <td>L.p.</td>
                    <td>Dostawca</td>
                    <td>Odbiorca</td>
                    <td>#</td>
                    <td>Kod produktu</td>
                    <td>Ilość</td>
                    <td>Dostawy</td>
                    <td>Wysyłka</td>
                </tr>
                </thead>
                <tbody class="schedule-data">
                {% for order in orders %}

                    {% set orderSize = 0 %}

                    {% for serie in order.children %}
                        {% if app.user.schedule_show_completed_item %}
                            {% set orderSize = orderSize + serie.products|length %}

                        {% else %}
                            {% for sp in serie.products %}
                                {% if not sp.data.QuantityDone %}
                                    {% if app.user.schedule_show_only_user_related_products %}
                                        {% if app.user.id in sp.element.suppliers|map(x=>x.id) %}
                                            {% set orderSize = orderSize + 1 %}
                                        {% endif %}
                                    {% else %}
                                        {% set orderSize = orderSize + 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    {% if order.children|length > 0 %}
                        {% set orderCodePrinted = false %}

                        {% for serie in order.children %}

                            {% if app.user.schedule_show_completed_item %}
                                {% set serieSize = serie.products|length %}

                            {% else %}
                                {% set serieSize = 0 %}
                                {% for sp in serie.products %}
                                    {% if not sp.data.QuantityDone %}
                                        {% if app.user.schedule_show_only_user_related_products %}
                                            {% if app.user.id in sp.element.suppliers|map(x=>x.id) %}
                                                {% set serieSize = serieSize + 1 %}
                                            {% endif %}
                                        {% else %}
                                            {% set serieSize = serieSize + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% for item in serie.products %}

                                {% set sc = app.user.schedule_show_completed_item %}
                                {% set c = item.data.QuantityDone %}
                                {% set sor = app.user.schedule_show_only_user_related_products %}
                                {% set r = app.user.id in item.element.suppliers|map(x=>x.id) %}

                                {% set show = false %}

                                {% if sc %}
                                    {% if sor %}
                                        {% if r %}
                                            {% set show = true %}
                                        {% endif %}
                                    {% else %}
                                        {% set show = true %}
                                    {% endif %}

                                {% else %}
                                    {% if not c %}
                                        {% if sor %}
                                            {% if r %}
                                                {% set show = true %}
                                            {% endif %}
                                        {% else %}
                                            {% set show = true %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {% if show %}
                                    {% set p = pimcore_object(item.objectId) %}

                                    {% if orderCodePrinted == false %}
                                            {% set orderCodePrinted = true %}
                                            <tr>
                                                <td rowspan="{{ orderSize }}">
                                                    {{ loop.parent.loop.parent.loop.index }}
                                                </td>
                                                <td rowspan="{{ orderSize }}">
                                                    {{ include('factory/schedule/order.html.twig', {order: order}) }}
                                                </td>
                                                <td rowspan="{{ serieSize }}">
                                                    {{ include('factory/schedule/user.html.twig', {user: serie.user}) }}
                                                </td>
                                                <td class="{% if item.data.QuantityDone is defined and item.data.QuantityDone > 0 %}lineitem-done{% endif %}">1</td>
                                                <td class="{% if item.data.QuantityDone is defined and item.data.QuantityDone > 0 %}lineitem-done{% endif %}">
                                                    {{ include('factory/schedule/product.html.twig', {p: item, s:serie}) }}
                                                </td>
                                                <td style="position: relative" class="{% if item.data.QuantityDone is defined and item.data.QuantityDone > 0 %}lineitem-done{% endif %}">
                                                    {{ include('factory/schedule/quantity.html.twig', {item: item}) }}
                                                </td>
                                                <td rowspan="{{ orderSize }}">
                                                    {{ include('factory/schedule/order_date.html.twig') }}
                                                </td>
                                                <td rowspan="{{ serieSize }}">
                                                    {{ include('factory/schedule/serie_date.html.twig') }}
                                                </td>
                                            </tr>
                                        {% elseif loop.index == 1 %}
                                            <tr>
                                                {% if orderCodePrinted == false %}
                                                    <td rowspan="{{ orderSize }}">{{ loop.parent.loop.parent.loop.index }}</td>
                                                    <td rowspan="{{ orderSize }}">
                                                        {{ include('factory/schedule/order.html.twig', {order: order}) }}
                                                    </td>
                                                {% endif %}

                                                <td rowspan="{{ serieSize }}">
                                                    {{ include('factory/schedule/user.html.twig', {user: serie.user}) }}
                                                </td>
                                                <td class="{% if item.data.QuantityDone is defined and item.data.QuantityDone > 0 %}lineitem-done{% endif %}">1</td>
                                                <td class="{% if item.data.QuantityDone is defined and item.data.QuantityDone > 0 %}lineitem-done{% endif %}">
                                                    {{ include('factory/schedule/product.html.twig', {p: item, s:serie}) }}
                                                </td>
                                                <td style="position: relative" class="{% if item.data.QuantityDone is defined and item.data.QuantityDone > 0 %}lineitem-done{% endif %}">
                                                    {{ include('factory/schedule/quantity.html.twig', {item: item}) }}
                                                </td>
                                                {% if orderCodePrinted == false %}
                                                    <td rowspan="{{ orderSize }}">

                                                    </td>
                                                {% endif %}
                                                <td rowspan="{{ serieSize }}">
                                                    {{ include('factory/schedule/serie_date.html.twig') }}
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td class="{% if item.data.QuantityDone is defined and item.data.QuantityDone > 0 %}lineitem-done{% endif %}">{{ loop.index }}</td>
                                                <td class="{% if item.data.QuantityDone is defined and item.data.QuantityDone > 0 %}lineitem-done{% endif %}">
                                                    {{ include('factory/schedule/product.html.twig', {p: item, s:serie}) }}
                                                </td>
                                                <td style="position: relative" class="{% if item.data.QuantityDone is defined and item.data.QuantityDone > 0 %}lineitem-done{% endif %}">
                                                    {{ include('factory/schedule/quantity.html.twig', {item: item}) }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                {% endif %}
                            {% endfor %}

                        {% endfor %}

                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    {% endfor %}
{% endfor %}
    <script type="text/javascript">

        function convertToUTCString(dateString)
        {
            const [day, month, year] = dateString.split('.').map(Number);
            const date = new Date(Date.UTC(year, month - 1, day));

            return date.toUTCString();
        }

        function changeDate(id, newDate) {
            $.ajax({
                url: '/factory/pl/order/move',
                type: 'POST',
                data: {
                    id: id,
                    newDate: newDate.toUTCString()
                },
                success: function(data) {
                    console.log(data);
                    alert("Ok");
                },
                error: function(data) {
                    console.log('error');
                    console.log(data)
                }
            })
        }

        $.datepicker.regional.pl = {
            closeText: "Zamknij",
            prevText: "Poprzedni",
            nextText: "Następny",
            currentText: "Dziś",
            monthNames: [ "Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec",
                "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień" ],
            monthNamesShort: [ "Sty", "Lu", "Mar", "Kw", "Maj", "Cze",
                "Lip", "Sie", "Wrz", "Pa", "Lis", "Gru" ],
            dayNames: [ "Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota" ],
            dayNamesShort: [ "Nie", "Pn", "Wt", "Śr", "Czw", "Pt", "So" ],
            dayNamesMin: [ "N", "Pn", "Wt", "Śr", "Cz", "Pt", "So" ],
            weekHeader: "Tydz",
            dateFormat: "dd.mm.yy",
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ""
        };

        $.datepicker.setDefaults($.datepicker.regional.pl );

        $(".datepicker").datepicker({
            dateFormat: 'dd.mm.yy',
            onSelect: function(date) {

                var h = $(this);
                var id = h.attr('data-id');

                var parts = date.split(".");

                var year = parseInt(parts[2]);
                var month = parseInt(parts[1]) - 1;
                var day = parseInt(parts[0]);

                var newDate = new Date(year, month, day);

                console.log("#" + id + " => " + newDate);

                changeDate(id, newDate);
            }
        });

        function markOrderItemDone(orderId, productId, itemNo, quantity, done, id)
        {
            $.ajax({
                url: '/factory/en/order/item/done',
                type: 'POST',
                data: {
                    orderid: orderId,
                    productid: productId,
                    itemno: itemNo,
                    quantity: quantity,
                    done: done
                },
                success: function(data) {
                    console.log(data);
                    $("#li-done-input-" + id).hide();
                    $(".li-done-toggle[data-id=" + id + "]").hide();
                    $("#li-quantity-" + id).html(done);
                },
                error: function(data) {
                    console.log('[Error]');
                    alert('Error: ' + data.responseText);
                    console.log(data.responseText);
                }
            })
        }

        $(".li-done-toggle").click(function(){
            var h = $(this);
            var id = h.attr('data-id');

            if($("#li-done-input-" + id + ":visible").length == 0)
            {
                $("#li-done-input-" + id).show();
            }
            else
            {
                console.log("Mark as done #" + id);

                var done = $("#li-done-input-" + id).val();
                var res = confirm("Potwierdź realizację: " + done + " szt.");

                if(!res)
                    return;

                var chunks = id.split("-");

                var productId = chunks[0];
                var orderId = chunks[1];
                var quantity = chunks[2];
                var itemNo = chunks[3];

                console.log(chunks);
                markOrderItemDone(orderId, productId, itemNo, quantity, done, id);

                console.log(res);
            }
        })

        $(".add-date-toggle").click(function() {
            var h = $(this);
            var id = h.attr('data-id');

            $("#add-date-" + id + "-form").toggle();
            $("#add-date-" + id + "-placeholder").toggle();
        });

        $(".package").click(function() {
            var id = $(this).attr('data-id');

            $(".package[data-id=" + id + "]").toggleClass('active');
            $(this).toggleClass('active');

            var packages = [];
            // packages["package-OP-261"] = 0;

            $(".package.active").each(function(){
                var packageId = $(this).attr('data-id');
                var qty = $(this).attr('data-quantity');

                if(packages[packageId])
                {
                    packages[packageId] += parseInt(qty);
                }
                else
                {
                    packages[packageId] = parseInt(qty);
                }
            });

            var output = "";

            for(let key in packages) {
                console.log(key);
                output += key + ": " + packages[key] + "<br>";
            }

            $("#statusbar").html(output);
        });
    </script>
{% endblock %}