{% block content %}

<style>

    .schedule
    {
        font-family: monospace;
        border: 1px solid #282A35;
        border-collapse: collapse;
        {% if type == "pdf" %}
            padding: 8px;
        {% else %}
            padding: 12px;
        {% endif %}
        width: 100%;
    }

    .schedule tbody
    {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .schedule tbody td
    {
        border: 1px solid #282A35;
        border-collapse: collapse;
        {% if type == "pdf" %}
            padding: 2px;
            font-size: 9px;
        {% else %}
            padding: 6px;
            font-size: 12px;
        {% endif %}
        text-align: center;
    }

    .schedule thead td
    {
        padding: 6px;
        border: 1px solid #282A35;
        border-collapse: collapse;
        font-size: 14px;
        text-align: center;
    }


    .month-name
    {
        font-size: 24px;
        padding: 8px 0;
        text-transform: capitalize;
        font-weight: bold;
        text-align: center;
        background-color: #ffff00;
        color: #000;
    }

    .head-col-name
    {
        background: #d9d9d9;
    }

    .schedule-data
    {
        background: #cfe2f3;
    }

    .item-file-link
    {
        padding: 6px 6px;
        float: left;
        margin: 4px 12px;
        border: 1px solid #212121;
        background: #aad1ed
    }

    .status-bg-Done
    {
        background: #a4e391;
    }

    .status-bg-Process
    {
        background: #5f6bf3;
        color: #fafafa;
    }

    .status-bg-Process:hover
    {
        background: #4450d3;
    }

    .status-bg-Process a
    {
        color: inherit !important;
    }

    .status-bg-Ready
    {
        background: #ffeb3b;
        color: #212121;
    }

    .status-bg-Ready:hover
    {
        background: #e4d224;
    }

    .status-bg-Ready a
    {
        color: inherit !important;
    }

    .cb-status
    {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;
        top: 7px;
    }

    {% if type == 'pdf' %}
    * {
        background: #fff !important;
        text-decoration: none !important;
    }
    {% endif %}

</style>

{% set orderSuppliers = [] %}

{% for year, months in queue %}
    {% for month, orders in months %}

        {% set monthsize = 0 %}
        {% for order in orders %}

            {% set orderSuppliers = [] %}

            {% for serie in order.children %}
                {% if app.user.theme_schedule_show_completed_item %}
                    {% for sp in serie.products %}

                        {% for supplier in sp.element.suppliers %}
                            {% if supplier.key not in orderSuppliers|map(x => x.key) or app.user.id == serie.user.id  %}
                                {% set orderSuppliers = orderSuppliers|merge([supplier]) %}
                            {% endif %}
                        {% endfor %}

                        {% if app.user.schedule_show_only_user_related_products %}
                            {% if app.user.id in sp.element.suppliers|map(x=>x.id) or app.user.id == serie.user.id %}
                                {% set monthsize = monthsize + 1 %}
                            {% endif %}
                        {% else %}
                            {% set monthsize = monthsize + 1 %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for sp in serie.products %}

                        {% for supplier in sp.element.suppliers %}
                            {% if supplier.key not in orderSuppliers|map(x => x.key) or app.user.id == serie.user.id %}
                                {% set orderSuppliers = orderSuppliers|merge([supplier]) %}
                            {% endif %}
                        {% endfor %}

                        {% if not sp.data.QuantityDone %}
                            {% if app.user.schedule_show_only_user_related_products %}
                                {% if app.user.id in sp.element.suppliers|map(x=>x.id) or app.user.id == serie.user.id %}
                                    {% set monthsize = monthsize + 1 %}
                                {% endif %}
                            {% else %}
                                {% set monthsize = monthsize + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

        {% endfor %}

        {% if monthsize %}
            <div class="container mt-4">
            <table class="schedule">
                <thead>
                <tr>
                    {% if year > 0 and month > 0 and month < 13 %}
                        <td colspan="8" class="month-name">
                            {{ orders[0].date.locale(app.request.locale).translatedFormat('F Y') }}
                            <span>
                                {% set cY = orders[0].date.year %}
                                {% set cM = orders[0].date.month %}
                                {% if type != "pdf" %}
                                    <div class="btn-group ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="/bundles/pimcoreadmin/img/flat-color-icons/print.svg" alt="print month">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="{{ path("factory_schedule", {y: cY, m: cM, type: 'pdf'}) }}" target="_blank">
                                                    {{ "Print PDF"|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{ path("factory_schedule", {y: cY, m: cM, type: 'vendor'}) }}" target="_blank">
                                                    {{"Print PDF (fon suppliers)"|trans}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </span>
                        </td>
                    {% else %}
                        <td colspan="8" class="month-name" style="background: #ff2121; color: #000; font-weight: bold; font-size: 18px; padding: 14px 0">
                            <span>
                                {{ "To plan"|trans }}
                            </span>
                        </td>
                    {% endif %}
                </tr>
                <tr class="head-col-name">
                    <td>{{ "No"|trans }}</td>
                    <td>{{ "Vendor"|trans }}</td>
                    <td>{{ "Receiver"|trans }}</td>
                    <td>#</td>
                    <td>{{ "Product"|trans }}</td>
                    <td>{{ "Quantity"|trans }}</td>
                    <td>{{ "Supplies"|trans }}</td>
                    <td>{{ "Shipment"|trans }}</td>
                </tr>
                </thead>
                <tbody class="schedule-data">
                {% for order in orders %}

                    {% set orderSize = 0 %}
                    {% set serieIds = [] %}

                    {% for serie in order.children %}

                        {% set serieIds = serieIds|merge([serie.id]) %}

                        {% if app.user.theme_schedule_show_completed_item %}
                            {% set orderSize = orderSize + serie.products|length %}

                        {% else %}
                            {% for sp in serie.products %}
                                {% if not sp.data.QuantityDone %}
                                    {% if app.user.schedule_show_only_user_related_products %}
                                        {% if app.user.id in sp.element.suppliers|map(x=>x.id) or app.user.id == serie.user.id %}
                                            {% set orderSize = orderSize + 1 %}
                                        {% endif %}
                                    {% else %}
                                        {% set orderSize = orderSize + 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    {% if order.children|length > 0 %}
                        {% set orderCodePrinted = false %}

                        {% for serie in order.children %}

                            {% if app.user.theme_schedule_show_completed_item %}
                                {% set serieSize = serie.products|length %}

                            {% else %}
                                {% set serieSize = 0 %}
                                {% for sp in serie.products %}
                                    {% if not sp.data.QuantityDone %}
                                        {% if app.user.schedule_show_only_user_related_products %}
                                            {% if app.user.id in sp.element.suppliers|map(x=>x.id) or app.user.id == serie.user.id %}
                                                {% set serieSize = serieSize + 1 %}
                                            {% endif %}
                                        {% else %}
                                            {% set serieSize = serieSize + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% for item in serie.products %}

                                {% set bgStyle = "" %}

                                {% if app.user.schedule_item_show_status %}
                                    {% if item.data.QuantityDone is defined and item.data.QuantityDone > 0 %}
                                        {% set bgStyle = "status-bg-Done" %}
                                    {% else %}
                                        {% if item.data.Status is defined and item.data.Status %}
                                            {% set bgStyle = "status-bg-" ~ item.data.Status %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {% set sc = app.user.theme_schedule_show_completed_item %}
                                {% set c = item.data.QuantityDone %}
                                {% set sor = app.user.schedule_show_only_user_related_products %}
                                {% set r = app.user.id in item.element.suppliers|map(x=>x.id) or app.user.id == serie.user.id %}

                                {% set show = false %}

                                {% if sc %}
                                    {% if sor %}
                                        {% if r %}
                                            {% set show = true %}
                                        {% endif %}
                                    {% else %}
                                        {% set show = true %}
                                    {% endif %}

                                {% else %}
                                    {% if not c %}
                                        {% if sor %}
                                            {% if r %}
                                                {% set show = true %}
                                            {% endif %}
                                        {% else %}
                                            {% set show = true %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {% if show %}
                                    {% set product = pimcore_object(item.objectId) %}

                                    {% if orderCodePrinted == false %}
                                        {% set orderCodePrinted = true %}
                                            <tr>
                                                <td rowspan="{{ orderSize }}">
                                                    {{ loop.parent.loop.parent.loop.index }}
                                                </td>
                                                <td rowspan="{{ orderSize }}">
                                                    {{ include('factory/schedule/order.html.twig', {order: order}) }}
                                                </td>
                                                <td rowspan="{{ serieSize }}">
                                                    {{ include('factory/schedule/user.html.twig', {user: serie.user}) }}
                                                </td>
                                                <td class="{{ bgStyle }}">1</td>
                                                <td class="{{ bgStyle }}">
                                                    {{ include('factory/schedule/product.html.twig', {p: item, s:serie}) }}
                                                </td>
                                                <td style="position: relative" class="{{ bgStyle }}">
                                                    {{ include('factory/schedule/quantity.html.twig', {item: item, p:product}) }}
                                                </td>
                                                <td rowspan="{{ orderSize }}">
                                                    {{ include('factory/schedule/order_date.html.twig', {suppliers: orderSuppliers}) }}
                                                </td>
                                                <td rowspan="{{ serieSize }}">
                                                    {{ include('factory/schedule/serie_date.html.twig') }}
                                                </td>
                                            </tr>

                                        {% elseif loop.index == 1 %}
                                            <tr>
                                                {% if orderCodePrinted == false %}
                                                    <td rowspan="{{ orderSize }}">{{ loop.parent.loop.parent.loop.index }}</td>
                                                    <td rowspan="{{ orderSize }}">
                                                        {{ include('factory/schedule/order.html.twig', {order: order}) }}
                                                    </td>
                                                {% endif %}

                                                <td rowspan="{{ serieSize }}">
                                                    {{ include('factory/schedule/user.html.twig', {user: serie.user}) }}
                                                </td>
                                                <td class="{{ bgStyle }}">1</td>
                                                <td class="{{ bgStyle }}">
                                                    {{ include('factory/schedule/product.html.twig', {p: item, s:serie}) }}
                                                </td>
                                                <td style="position: relative" class="{{ bgStyle }}">
                                                    {{ include('factory/schedule/quantity.html.twig', {item: item}) }}
                                                </td>
                                                {% if orderCodePrinted == false %}
                                                    <td rowspan="{{ orderSize }}">

                                                    </td>
                                                {% endif %}
                                                <td rowspan="{{ serieSize }}">
                                                    {{ include('factory/schedule/serie_date.html.twig') }}
                                                </td>
                                            </tr>

                                        {% else %}
                                            <tr>
                                                <td class="{{ bgStyle }}">{{ loop.index }}</td>
                                                <td class="{{ bgStyle }}">
                                                    {{ include('factory/schedule/product.html.twig', {p: item, s:serie}) }}
                                                </td>
                                                <td style="position: relative" class="{{ bgStyle }}">
                                                    {{ include('factory/schedule/quantity.html.twig', {item: item, p: product}) }}
                                                </td>
                                            </tr>

                                    {% endif %}

                                {% endif %}
                            {% endfor %}

                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    {% endfor %}
{% endfor %}
{% if type != "pdf" %}
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="title">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="info"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

    <script type="text/javascript">

        $(document).ready(function() {

            function convertToUTCString(dateString) {
                const [day, month, year] = dateString.split('.').map(Number);
                const date = new Date(Date.UTC(year, month - 1, day));

                return date.toUTCString();
            }

            function changeDate(id, newDate) {
                $.ajax({
                    url: '/factory/pl/order/move',
                    type: 'POST',
                    data: {
                        id: id,
                        newDate: newDate.toUTCString()
                    },
                    success: function (data) {
                        console.log(data);
                        alert("Ok");
                    },
                    error: function (data) {
                        console.log('error');
                        console.log(data)
                    }
                })
            }

            $.datepicker.regional.pl = {
                closeText: "Zamknij",
                prevText: "Poprzedni",
                nextText: "Następny",
                currentText: "Dziś",
                monthNames: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec",
                    "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
                monthNamesShort: ["Sty", "Lu", "Mar", "Kw", "Maj", "Cze",
                    "Lip", "Sie", "Wrz", "Pa", "Lis", "Gru"],
                dayNames: ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"],
                dayNamesShort: ["Nie", "Pn", "Wt", "Śr", "Czw", "Pt", "So"],
                dayNamesMin: ["N", "Pn", "Wt", "Śr", "Cz", "Pt", "So"],
                weekHeader: "Tydz",
                dateFormat: "dd.mm.yy",
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ""
            };

            $.datepicker.setDefaults($.datepicker.regional.pl);

            $(".datepicker").datepicker({
                dateFormat: 'dd.mm.yy',
                onSelect: function (date) {

                    var h = $(this);
                    var id = h.attr('data-id');

                    var parts = date.split(".");

                    var year = parseInt(parts[2]);
                    var month = parseInt(parts[1]) - 1;
                    var day = parseInt(parts[0]);

                    var newDate = new Date(year, month, day);

                    console.log("#" + id + " => " + newDate);

                    changeDate(id, newDate);
                }
            });

            function changeOrderItemStatus(orderId, productId, itemNo, quantity, oldStatus, status, id) {

                console.log("Change to " + status);

                $.ajax({
                    url: '/factory/en/order/item/status',
                    type: 'POST',
                    data: {
                        orderid: orderId,
                        productid: productId,
                        itemno: itemNo,
                        quantity: quantity,
                        status: status
                    },
                    success: function (data) {
                        $(".item-status-" + id).hide();
                    },
                    error: function (data) {
                        console.log('[Error]');
                        alert('Error: ' + data.responseText);
                        console.log(data.responseText);
                    }
                })
            }

            function markOrderItemDone(orderId, productId, itemNo, quantity, done, id) {
                $.ajax({
                    url: '/factory/en/order/item/done',
                    type: 'POST',
                    data: {
                        orderid: orderId,
                        productid: productId,
                        itemno: itemNo,
                        quantity: quantity,
                        done: done
                    },
                    success: function (data) {
                        console.log(data);
                        $("#li-done-input-" + id).hide();
                        $(".li-done-toggle[data-id=" + id + "]").hide();
                        $("#li-quantity-" + id).html(done);
                    },
                    error: function (data) {
                        console.log('[Error]');
                        alert('Error: ' + data.responseText);
                        console.log(data.responseText);
                    }
                })
            }

            $(".item-status").click(function () {

                var h = $(this);
                var id = h.attr('data-id');

                var res = confirm("Potwierdź operację");

                if(!res)
                    return;

                var chunks = id.split("-");

                var productId = chunks[0];
                var orderId = chunks[1];
                var quantity = chunks[2];
                var itemNo = chunks[3];

                var oldStatus = h.attr('data-status');
                var newStatus = h.attr('data-next');

                changeOrderItemStatus(orderId, productId, itemNo, quantity, oldStatus, newStatus, id);
            });

            $(".li-done-toggle").click(function () {
                var h = $(this);
                var id = h.attr('data-id');

                if ($("#li-done-input-" + id + ":visible").length == 0) {
                    $("#li-done-input-" + id).show();
                } else {
                    console.log("Mark as done #" + id);

                    var done = $("#li-done-input-" + id).val();
                    var res = confirm("Potwierdź realizację: " + done + " szt.");

                    if (!res)
                        return;

                    var chunks = id.split("-");

                    var productId = chunks[0];
                    var orderId = chunks[1];
                    var quantity = chunks[2];
                    var itemNo = chunks[3];

                    console.log(chunks);
                    markOrderItemDone(orderId, productId, itemNo, quantity, done, id);

                    console.log(res);
                }
            })

            $(".add-date-toggle").click(function () {
                var h = $(this);
                var id = h.attr('data-id');

                $("#add-date-" + id + "-form").toggle();
                $("#add-date-" + id + "-placeholder").toggle();
            });

            $(".package").click(function () {
                var id = $(this).attr('data-id');

                $(".package[data-id=" + id + "]").toggleClass('active');
                $(this).toggleClass('active');

                var packages = [];
                // packages["package-OP-261"] = 0;

                $(".package.active").each(function () {
                    var packageId = $(this).attr('data-id');
                    var qty = $(this).attr('data-quantity');

                    if (packages[packageId]) {
                        packages[packageId] += parseInt(qty);
                    } else {
                        packages[packageId] = parseInt(qty);
                    }
                });

                var output = "";

                for (let key in packages) {
                    console.log(key);
                    output += key + ": " + packages[key] + "<br>";
                }

                $("#statusbar").html(output);
            });

            var status = JSON.parse(localStorage.getItem("status")) || [];

            status.forEach(function(item) {
                console.log(item);
                $("#" + item).attr("checked", true);
            })

            $(".cb-status").click(function() {
                // save in cookies
                var r = $(this);
                var id = r.attr("name")

                if(r.is(":checked"))
                {
                    console.log("Add " + id);

                    status.push(id);
                    localStorage.setItem("status", JSON.stringify(status));
                }
                else
                {
                    console.log("Remove " + r.attr("name"));

                    status = status.filter(item => item !== id);
                    localStorage.setItem("status", JSON.stringify(status));
                }
            });

            var modal = new bootstrap.Modal("#infoModal");

            $(".serie-sheets-btn").click(function() {
                var r = $(this);
                var id = r.attr("data-id");
                let isArray = id.includes('-');

                $("#serie-sheets-icon-" + id).toggle();
                $("#serie-sheets-spinner-" + id).toggle();

                let url = "/orders/sheets?id=" + id.replaceAll('-', ',');

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function(data) {
                        console.log(data);
                        var output = "<table class=\"table\">" +
                            "<thead>" +
                            "<tr>" +
                            "<td></td>" +
                            "<td>l.p</td>" +
                            "<td>material</td>" +
                            "<td>arkusze</td>" +
                            "<td>długość</td>" +
                            "<td>szerokość</td>" +
                            "<td>rozkroje</td>" +
                            "</tr>" +
                            "</thead>" +
                            "<tbody>";

                        let no = 1;

                        var material = "";

                        for (var key in data) {
                            output += "<tr>" +
                                "<td><input type=\"checkbox\" style=\"width: 25px; height: 25px\"></td>" +
                                "<td>" + no + "</td>" +
                                "<td>" + data[key].material_kod + "</td>" +
                                "<td>" + data[key].ilosc + "</td>" +
                                "<td>" + data[key].dlugosc + "</td>" +
                                "<td>" + data[key].szerokosc + "</td>" +
                                "<td>" + data[key].rozkroj + "</td>" +
                                "</tr>";
                            no++;
                        }

                        $("#title").html("Arkusze");
                        $("#info").html(output);
                        modal.show();
                    },
                    complete: function() {
                        $("#serie-sheets-icon-" + id).toggle();
                        $("#serie-sheets-spinner-" + id).toggle();
                    },
                    error: function(data) {
                        alert("error: " + data.responseText);
                        console.log(data);
                    }
                });
            });

            // DIRTY DEV
            // use in local only
            // DO NOT USE IN PRODUCTION
            var optimikServerUrl = "http://10.10.1.1:5999";

            {% if app.environment == 'prod' %}
            optimikServerUrl = "https://10.10.5.6:5999";
            {% endif %}

            $(".serie-cutting-btn").click(function() {
                var r = $(this);
                var id = r.attr("data-id");
                let isArray = id.includes('-');

                $("#serie-cutting-icon-" + id).toggle();
                $("#serie-cutting-spinner-" + id).toggle();

                let url = optimikServerUrl + "/orders/cutting-plans/" + id;

                if(isArray){
                    url = optimikServerUrl + "/orders/batch/cutting-plans?id=" + id.replaceAll('-', ',');
                }

                $.ajax({
                    url: url,
                    type: "GET",
                    crossDomain: true,
                    headers: {
                        "Access-Control-Allow-Origin":"*"
                    },
                    success: function(data) {
                        console.log(data);
                        var output = "<table class=\"table\"><head><tr><td>no</td><td>rozkroj</td><td>material</td><td>arkusze</td><td>długość</td><td>szerokość</td></tr></thead><tbody>";

                        let no = 1;

                        var material = "";

                        for (var key in data) {
                            output += "<tr><td>" + no + "</td><td>" + data[key].rozkroj + "</td><td>" + data[key].material_kod + "</td><td>" + data[key].arkusze + "</td><td>www</td><td>hhh</td></tr>";
                            no++;
                        }

                        $("#title").html("Rozkroje");
                        $("#info").html(output);
                        modal.show();
                    },
                    complete: function() {
                        $("#serie-cutting-icon-" + id).toggle();
                        $("#serie-cutting-spinner-" + id).toggle();
                    },
                    error: function(data) {
                        alert("error");
                        console.log(data);
                    }
                });
            });

            $(".serie-borders-btn").click(function() {
                var r = $(this);
                var id = r.attr("data-id");
                let isArray = id.includes('-');

                $("#serie-borders-icon-" + id).toggle();
                $("#serie-borders-spinner-" + id).toggle();

                let url = optimikServerUrl + "/orders/borders/" + id;

                if(isArray){
                    url = optimikServerUrl + "/orders/batch/borders?id=" + id.replaceAll('-', ',');
                }

                $.ajax({
                    url: url,
                    type: "GET",
                    crossDomain: true,
                    headers: {
                        "Access-Control-Allow-Origin":"*"
                    },
                    success: function(data) {
                        console.log(data);
                        var output = "Obrzeża\r\n";
                        output += "==========================\r\n";

                        let no = 1;

                        for (var key in data) {
                            output += no + ". " + data[key].kod + " - " + data[key].nazwa + ": " + Math.round(data[key].ilosc * 1.1, 2) + " m\r\n";
                            no++;
                        }

                        alert(output);
                    },
                    complete: function(){
                        $("#serie-borders-icon-" + id).toggle();
                        $("#serie-borders-spinner-" + id).toggle();
                    },
                    error: function(data) {
                        alert("error");
                        console.log(data);
                    }
                });
            });

            $(".serie-supplies-btn").click(function() {
                var r = $(this);
                let id = r.attr("data-id");
                let isArray = id.includes('-');

                $("#serie-supplies-icon-" + id).toggle();
                $("#serie-supplies-spinner-" + id).toggle();

                let url = optimikServerUrl + "/orders/supplies/" + id;

                if(isArray){
                    url = optimikServerUrl + "/orders/batch/supplies?id=" + id.replaceAll('-', ',');
                }

                $.ajax({
                    url: url,
                    type: "GET",
                    crossDomain: true,
                    headers: {
                        "Access-Control-Allow-Origin":"*"
                    },
                    success: function(data) {
                        console.log(data);
                        var output = "Dostawy komponentów\r\n";
                        output += "==========================\r\n";

                        let no = 1;
                        for (const [key, items] of Object.entries(data)) {
                            output += "--------" + key + "--------" + "\r\n";

                            for(var obj of items)
                            {
                                output += no + ". " + obj.komponent_kod + ": " + obj.ilosc + " szt.\r\n";
                                no++;
                            }

                        }

                        alert(output);
                    },
                    complete: function()
                    {
                        $("#serie-supplies-icon-" + id).toggle();
                        $("#serie-supplies-spinner-" + id).toggle();
                    },
                    error: function(data) {
                        alert("error");
                        console.log(data);
                    }
                });
            });
        });
    </script>
{% endblock %}