<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Harmonogram</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/print/css/print-style.css"/>
    <link rel="stylesheet" type="text/css" href="/bundles/pimcorewebtoprint/css/print/print-printermarks.css" media="print" />
    <link rel="stylesheet" type="text/css" href="/static/print/css/print-preview.css" media="screen" />
    <style>

        * {
            color: #000 !important;
        }

        table {
            page-break-inside: avoid;
            break-inside: avoid;
        }

        .schedule
        {
            font-family: monospace;
            border: 1px solid #282A35;
            border-collapse: collapse;
            font-size: 12px;
            width: 100%;
        }

        .schedule tbody
        {
            break-inside: avoid;
            page-break-inside: avoid;
        }

        .schedule td
        {
            border: 1px solid #282A35;
            border-collapse: collapse;
            padding: 1px 4px;
        }

        .month-name
        {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            text-transform: capitalize;
            color: #000;
        }

    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% for year, months in queue %}
                {% for month, orders in months %}
                    {% set month_total = 0 %}

                    {% set allDone = true %}
                    {% for order in orders %}
                        {% for serie in order.children %}
                            {% if serie.Done != 1 %}
                                {% set allDone = false %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <div class="container-fluid" {% if allDone %}style="display:none"{% endif %}>
                        <div class="row">
                            <div class="col-12 mt-4">
                                <div class="text-center" style="border-bottom: 1px solid #000; border-top: 1px solid #000;">
                                    <div style="max-width: fit-content; margin: auto; padding: 4px 8px;">
                                        <span class="month-name">
                                            {{ orders[0].Date.locale(app.request.locale).translatedFormat('F Y') }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                {% for order in orders %}
                                    {% set order_total = 0 %}

                                    {% set alldone = true %}

                                    {% for serie in order.children %}

                                        {% if app.user.schedule_show_only_user_related_products %}
                                            {% for li in serie.Products %}
                                                {% set r = app.user.id in li.element.suppliers|map(x=>x.id) %}
                                                {% if serie.Done != 1 and r %}
                                                    {% set alldone = false %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% if serie.Done != 1 %}
                                                {% set alldone = false %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if not alldone %}
                                        <table class="schedule mt-2">
                                            <thead>
                                            <tr style="font-size: 9px;">
                                                <td colspan="2">
                                                    <div style="text-align: center; font-weight: bold; font-size: 16px;">
                                                        {{ order.key }}
                                                    </div>
                                                </td>
                                                <td>
                                                    #{{ order.id }},
                                                    {% for c in order.children %}
                                                        {% if loop.last %}
                                                            #{{ c.id }}
                                                        {% else %}
                                                            #{{ c.id }},
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td colspan="2" class="text-center">
                                                    {% if group == 'SupplyDate' %}
                                                        Data dostawy:
                                                        {% if order.SupplyDate == null %}
                                                            Brak daty [xx]
                                                        {% else %}
                                                            {{ order.SupplyDate|date("d.m") }}
                                                        {% endif %}
                                                    {% else %}
                                                        Data dostawy:
                                                        {% if order.Date == null %}
                                                            Brak daty [xx]
                                                        {% else %}
                                                            {{ order.Date|date("d.m") }}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr style="font-size: 9px; background: #d5d5d5">
                                                <td>
                                                    #
                                                </td>
                                                <td>
                                                    {{ 'Kod produktu'|trans }}
                                                </td>
                                                <td>
                                                    {{ 'Nazwa produktu'|trans }}
                                                </td>
                                                <td class="text-center">
                                                    {{ 'Ilość j.m.'|trans }}
                                                </td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% set idx = 0 %}
                                            {% for serie in order.children %}

                                                {% if serie.Done != 1 %}

                                                    {% for li in serie.products %}
                                                        {% set r = app.user.id in li.element.suppliers|map(x=>x.id) %}

                                                        {% if (app.user.schedule_show_only_user_related_products and r) or (not app.user.schedule_show_only_user_related_products) %}

                                                            {% set idx = idx + 1 %}
                                                            <tr style="font-size: 8px;">
                                                                <td class="text-center">{{ idx }}</td>
                                                                <td>
                                                                    <a href="{{ path('factory_tree', {'id': li.object.id}) }}">
                                                                        {{ li.object.key }}
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    {% if li.object.Name %}
                                                                        {{ li.object.Name }}
                                                                    {% else %}
                                                                        {{ li.object.GenericName }}
                                                                    {% endif %}

                                                                </td>
                                                                <td class="text-center">{{ li.data.Quantity }} szt.</td>
                                                            </tr>

                                                            {% set order_total = order_total + li.data.Quantity %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}

                                            {% endfor %}
                                            <tr style="font-size: 8px;">
                                                <td colspan="3" class="text-end p-1">
                                                    {{ 'Razem'|trans }}
                                                </td>
                                                <td class="p-1 text-center">
                                                    {{ order_total }} szt.
                                                </td>
                                                {% set month_total = month_total + order_total %}
                                            </tr>
                                            {% if loop.last %}
                                                <tr style="font-size: 8px;">
                                                    <td colspan="3" class="text-end p-1">
                                                        {{ 'Razem w miesiącu'|trans }}
                                                    </td>
                                                    <td class="p-1 text-center">
                                                        {{ month_total }} szt.
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    {% endif %}

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {#    <p><span class="pageNumber"></span> of <span class="totalPages"></span></p>#}
</div>
</body>
</html>