<html>
<head>
    <style>
        * {
            font-size: 8px;
        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
            font-size: 9px;
        }
        .page {
            width: 530px;
            height: 114px;
            position: relative;
            border: 1px solid #000;
        }

        .head-info
        {
            width: 100%;
            height: 100%;
            border-collapse:collapse;
        }

        .head-info tr td
        {
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 4px;
        }

        .addr
        {
            text-align: center;
            font-size: 8px;
        }

        .addr-header
        {
            text-align: center;
        }

        .header-row
        {
            font-size: 9px;
        }

        .address
        {
            writing-mode: sideways-lr;
            text-orientation: mixed;
            text-align: center;
            font-size: 9px;
            padding: 6px;
        }

        .v
        {
            writing-mode: vertical-rl;
            text-orientation: sideways;
            transform: rotate(-180deg);
        }

        .no-break
        {
            word-break: keep-all;
        }

        .error
        {
            font-size: 12px;
            color: #fa0000;
            font-weight: bold;
            padding: 6px;
            background-color: #ffe750;
        }

    </style>
</head>
<body>

{% set packageCode = null %}
{% set packageBarcode = null %}

{% if package.Codes.IndexAgata.Codes %}
    {% for lic in package.Codes.IndexAgata.Codes %}
        {% if lic.element.id == product.id %}
            {% set packageCode = lic.data.Code %}
            {% set packageBarcode = lic.data.Barcode %}
        {% endif %}
    {% endfor %}
{% elseif package.Codes.IndexAgata.Code %}
    {% set packageCode = package.Codes.IndexAgata.Code %}
    {% set packageBarcode = package.Codes.IndexAgata.Barcode %}
{% endif %}

{% set packagecount = 0 %}
{% set packageno = 0 %}

{% if product and product.Packages %}
    {% for lip in product.Packages %}
        {% set packagecount = packagecount + lip.data.Quantity %}
        {% if package.id == lip.element.id %}
            {% set packageno = loop.index %}
        {% endif %}
    {% endfor %}
{% endif %}

{% set step = min(copies, step) %}
{% set steps = (copies / step)|round(0, 'ceil') %}
{% for i in range(1, steps) %}
    <div class="page">
        <table class="head-info">
            <tbody>
                <tr>
                    <td rowspan="4" style="width: 5px;">
                        <div class="v">
                            <div style="font-size: 8px;">
                                {{ package.key }}
                            </div>
                        </div>
                    </td>
                    <td style="width: 70px" rowspan="4">
                        <div class="address v">
                            <div class="addr">
                                Grzegorz Mularczyk</br>
                                "MEGSTYL"</br>
                                Żłobnica, ul. Milenijna 10</br>
                                97-410 Kleszczów</br>
                                email: bok@megstyl.pl
                            </div>
                        </div>
                    </td>
                    <td colspan="2">
                        <div style="font-size: 9px; text-align: center;">
                            {% if product.Codes.IndexAgata.Code %}
                                {{ product.Codes.IndexAgata.Code }}
                            {% else %}
                                <div class="error">
                                    No Agata product code found.
                                </div>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div style="font-size: 9px; text-align: center;">
                            {% if packageCode %}
                                {{ packageCode }}
                            {% else %}
                                <div class="error">
                                    No Agata package code found.
                                </div>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 9px; text-align: center">
                        {% if product.Codes.IndexAgata.Name %}
                            {{ product.Codes.IndexAgata.Name }}
                        {% else %}
                            <div class="error">
                                No Agata product name found.
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td rowspan="1">
                        {{ (package.Depth.Value / 10)|round }} cm x {{ (package.Width.Value / 10)|round }} cm x {{ (package.Height.Value / 10)|round }} cm
                    </td>
                    <td rowspan="1" style="font-size: 22px; text-align: center">
                        {{ packageno }}/{{ packagecount }}
                    </td>
                    <td rowspan="2">
                        <div style="position: relative; display: flex; align-items: center; justify-content: space-around;">
                            {% if packageBarcode %}
                                {{ code_128(packageBarcode, "EAN13", 40) }}
                            {% else %}
                                <div class="error">
                                    No package barcode found.
                                </div>
                            {% endif %}
                        </div>
                        <div style="margin-top: 5px; text-align: center">
                            {% if packageBarcode %}
                                {{ packageBarcode }}
                            {% else %}
                                <div class="error">
                                    No package barcode found.
                                </div>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ package.Mass.Value }} kg
                    </td>
                    <td style="text-align: center; font-weight: bold">
                        SN:
                        {% if order.parent is pimcore_data_object_class("Order") %}
                            {{ order.parent.key }}
                        {% else %}
                            {{ order.key }}
                        {% endif %}

                        ({{ order.id }})
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endfor %}
</body>
</html>
