<html>
<head>
    <style>
        * {
            font-size: 8px;
        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
            font-size: 9px;
        }
        .page {
            width: 530px;
            height: 114px;
            position: relative;
            border: 1px solid #000;
        }

        .head-info
        {
            width: 100%;
            height: 100%;
            border-collapse:collapse;
        }

        .head-info tr td
        {
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 4px;
        }

        .addr
        {
            text-align: center;
            font-size: 8px;
        }

        .addr-header
        {
            text-align: center;
        }

        .header-row
        {
            font-size: 9px;
        }

        .address
        {
            writing-mode: sideways-lr;
            text-orientation: mixed;
            text-align: center;
            font-size: 9px;
            padding: 6px;
        }

        .v
        {
            writing-mode: vertical-rl;
            text-orientation: sideways;
            transform: rotate(-180deg);
        }

        .no-break
        {
            word-break: keep-all;
        }

        .error
        {
            font-size: 12px;
            color: #fa0000;
            font-weight: bold;
            padding: 6px;
            background-color: #ffe750;
        }

    </style>
</head>
<body>

{% set step = min(copies, step) %}
{% set steps = (copies / step)|round(0, 'ceil') %}
{% for i in range(1, steps) %}
    <div class="page">
        <table class="head-info">
            <tbody>
                <tr>
                    <td rowspan="4" style="width: 5px;">
                        <div class="v">
                            <div style="font-size: 8px;">
                                {{ package.key }}
                            </div>
                        </div>
                    </td>
                    <td style="width: 70px" rowspan="4">
                        <div class="address v">
                            <div class="addr-header">
                                <strong>
                                    {{ "Manufacturer"|trans }}
                                </strong>
                            </div>
                            <div class="addr">
                                Grzegorz Mularczyk</br>
                                "MEGSTYL"</br>
                                Żłobnica, ul. Milenijna 10</br>
                                97-410 Kleszczów</br>
                                email: bok@megstyl.pl
                            </div>
                        </div>
                    </td>
                    <td colspan="2">
                        <div style="font-size: 9px; text-align: center;">
                            {{ product.Codes.IndexAgata.Code }}
                        </div>
                    </td>
                    <td>
                        <div style="font-size: 9px; text-align: center;">
                            {{ package.Codes.IndexAgata.Code }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 9px; text-align: center">
                        {{ product.Codes.IndexAgata.Name }}
                    </td>
                </tr>
                <tr>
                    <td rowspan="1">
                        {{ (package.Depth.Value / 10)|round }} x {{ (package.Width.Value / 10)|round }} x {{ (package.Height.Value / 10)|round }}
                    </td>
                    <td rowspan="1" style="font-size: 22px; text-align: center">
                        1/1
                    </td>
                    <td rowspan="2">
                        <div style="position: relative; display: flex; align-items: center; justify-content: space-around;">
                            {{ code_128(package.codes.IndexAgata.Barcode, "C128", 40) }}
                        </div>
                        <div style="margin-top: 5px; text-align: center">
                            {{ package.codes.IndexAgata.Barcode }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Waga: {{ package.Mass.Value }} kg
                    </td>
                    <td style="text-align: center">
                        SN:
                        {% if order.parent is pimcore_data_object_class("Order") %}
                            {{ order.parent.key }}
                        {% else %}
                            {{ order.key }}
                        {% endif %}

                        ({{ order.id }})
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endfor %}
</body>
</html>
