<a href="#{{ item.id }}" style="text-decoration: none; color: black; break-inside: avoid">
    <div style="text-align: center; padding: 12px 10px; break-inside: avoid; position: relative;" id="{{ item.id }}-gallery">
        <img src="{{ item.Image.thumbnail("200x200") }}" width="100"/>

        <div style="font-size: 10px; margin-top: 6px; margin-bottom: 4px;">
            <strong>
                {{ item.id }}
            </strong>
            {% if s.EAN %}
                <div style="color: #7a7a7a">
                    {{ s.EAN }}
                </div>
            {% endif %}
        </div>
        <div style="font-size: 9px; break-inside: avoid">
            <div style="margin-bottom: 4px;">
                {% if item.Name %}
                    {{ item.Name|replace({'MEGSTYL': ''}) }}
                {% else %}
                    {{ item.key }}
                {% endif %}
            </div>
            {% if s is pimcore_data_object_class("Product") %}
                <div>
                    {% if item.Width and item.Width.Value and item.Height and item.Height.Value and item.Depth and item.Depth.Value %}
                        {{ item.Width.Value }} x {{ item.Height.Value }} x {{ item.Depth.Value }}
                    {% endif %}
                </div>
            {% endif %}
            {% if prices %}
                <div style="margin-top: 4px;">
                {% for price in s.Price %}
                    {% if price.element.id == prices %}
                        {{ price.data.Price }} {{ price.data.Currency }}
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</a>