<section>
    {% if item.Status == "Sale" %}
        <div class="" style="position: absolute;right: 0;top: 0; z-index: 500; width: 200px;heig;height: 200px;overflow: hidden;">
                <span style="color: #fff; text-transform: uppercase; text-align: center;
                    background: linear-gradient(#a6202b 0%, #5e0707 100%); width: 260px; font-size: 32px; letter-spacing: 12px;
                    font-weight: 700; line-height: 60px; display: block; position: absolute; top: 40px; right: -60px;
                    transform: rotate(45deg); box-shadow: 0 3px 10px -5px #000;">
                    SALE
                </span>
        </div>
    {% endif %}
    <div style="width: 100%">
        <div style="float:left; width: 70%">
            <div style="position:relative">
                <div style="font-weight: bold; font-size: 32px; line-height: 32px">
                    {{ s.Name ?? s.key }}
                </div>
                <div style="line-height: 26px; font-size: 14px; ">
                    <div style="text-decoration: italic">
                        {{ "Product identifier"|trans }}:
                        <a href="#{{ item.id }}-gallery" style="text-decoration: none; color: #000; font-weight: bold">
                            {{ s.id }}
                        </a>
                    </div>
                    {% if s.EAN %}
                        <div>
                            {{ "Ean"|trans }}: {{ s.EAN }}
                        </div>
                    {% endif %}
                    {% if s is pimcore_data_object_class("Product") %}
                        <div>
                            {{ "Dimensions"|trans }}:
                            {% if s.Width and s.Width.Value and s.Height and s.Height.Value and s.Depth and s.Depth.Value %}
                                {{ s.Width }} x {{ s.Height }} x {{ s.Depth }}
                            {% else %}
                                {{ "n/a"|trans }}
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if prices %}
                        {% set pr = null %}
                        {% for price in s.Price %}
                            {% if price.element.id == prices %}
                                {% set pr = price %}
                            {% endif %}
                        {% endfor %}

                        {% if pr %}
                            <div>{{ "Net Price"|trans }}: {{ pr.data.Price }} {{ pr.data.Currency }}</div>
                        {% endif %}
                    {% endif %}
                    <div>
                        <a href="{{ path('export_images', {id: s.id}) }}">
                            <div class="download-button">
                                <img class="download-button-icon" src="{{ asset('/bundles/pimcoreadmin/img/flat-white-icons/download.svg') }}"/>
                                {{ "Download images"|trans }}
                            </div>
                        </a>
                    </div>
                    {% if s is pimcore_data_object_class("ProductSet") %}
                        <div>
                            <a href="{{ path('export_images', {id: s.id, mode: 'dependencies'}) }}">
                                <div class="download-button">
                                    <img class="download-button-icon" src="{{ asset('/bundles/pimcoreadmin/img/flat-white-icons/download.svg') }}"/>
                                    {{ "Download images of elements"|trans }}
                                </div>
                            </a>
                        </div>
                    {% endif %}

                    {% if s is pimcore_data_object_class("Product") and s.Instruction %}
                        <div>
                            <a href="{{ s.Instruction }}">
                                <div class="download-button">
                                    <img class="download-button-icon" src="{{ asset('/bundles/pimcoreadmin/img/flat-white-icons/download.svg') }}"/>
                                    {{ "Download user manual"|trans }}
                                </div>
                            </a>
                        </div>
                    {% endif %}

                    {% if s is pimcore_data_object_class("Product") and s.InstructionUS %}
                        <div>
                            <a href="{{ s.InstructionUS }}">
                                <div class="download-button">
                                    <img class="download-button-icon" src="{{ asset('/bundles/pimcoreadmin/img/flat-white-icons/download.svg') }}"/>
                                    {{ "Download user manual US"|trans }}
                                </div>
                            </a>
                        </div>
                    {% endif %}

                    {% if s is pimcore_data_object_class("Product") and s.Model3DStep %}
                        <div>
                            <a href="{{ s.Model3DStep }}">
                                <div class="download-button">
                                    <img class="download-button-icon" src="{{ asset('/bundles/pimcoreadmin/img/flat-white-icons/download.svg') }}"/>
                                    {{ "Download model 3D (.step)"|trans }}
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="float:left; width: 30%">
            <div style="text-align: center; padding: 18px 10px; position: relative">
                {% if s.Image %}
                    <img src="{{ s.Image.thumbnail("200x200") }}" width="200"/>
                {% endif %}
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</section>