<section>
    <div style="width: 100%">
        <div style="float:left; width: 70%">
            <div>
                <div style="font-weight: bold; font-size: 32px; line-height: 32px">
                    {{ s.Name }}
                </div>
                <div style="line-height: 26px; font-size: 14px; ">
                    <div style="text-decoration: italic">
                        {{ "Product identifier"|trans }}: {{ s.id }}
                    </div>
                    <div>
                        {{ "Ean"|trans }}: {{ s.EAN }}
                    </div>
                    {% if s is pimcore_data_object_class("Product") %}
                        <div>
                            {{ "Dimensions"|trans }}: {{ s.Width }} x {{ s.Height }} x {{ s.Depth }}
                        </div>
                    {% endif %}
                    <div>
                        <a href="{{ path('export_images', {id: s.id}) }}">
                            <div class="download-button">
                                <img class="download-button-icon" src="{{ asset('/bundles/pimcoreadmin/img/flat-white-icons/download.svg') }}"/>
                                {{ "Download images"|trans }}
                            </div>
                        </a>
                    </div>
                    {% if s is pimcore_data_object_class("ProductSet") %}
                        <div>
                            <a href="{{ path('export_images', {id: s.id}) }}">
                                <div class="download-button">
                                    <img class="download-button-icon" src="{{ asset('/bundles/pimcoreadmin/img/flat-white-icons/download.svg') }}"/>
                                    {{ "Download images of elements"|trans }}
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="float:left; width: 30%">
            <div style="text-align: center; padding: 18px 10px;">
                <img src="{{ s.Image.thumbnail("200x200") }}" width="200"/>
            </div>
        </div>
    </div>
</section>