<section>
    <div style="width: 100%">
        <div style="float:left; width: 70%">
            <div style="position:relative">
                <div style="font-weight: bold; font-size: 32px; line-height: 32px">
                    {{ s.Name }}
                </div>
                <div style="line-height: 26px; font-size: 14px; ">
                    <div style="text-decoration: italic">
                        {{ "Product identifier"|trans }}:
                        <a href="#{{ item.id }}-gallery" style="text-decoration: none; color: #000; font-weight: bold">
                            {{ s.id }}
                        </a>
                    </div>
                    {% if s.EAN %}
                        <div>
                            {{ "Ean"|trans }}: {{ s.EAN }}
                        </div>
                    {% endif %}
                    {% if s is pimcore_data_object_class("Product") %}
                        <div>
                            {{ "Dimensions"|trans }}: {{ s.Width }} x {{ s.Height }} x {{ s.Depth }}
                        </div>
                    {% endif %}
                    <div>
                        <a href="{{ path('export_images', {id: s.id}) }}">
                            <div class="download-button">
                                <img class="download-button-icon" src="{{ asset('/bundles/pimcoreadmin/img/flat-white-icons/download.svg') }}"/>
                                {{ "Download images"|trans }}
                            </div>
                        </a>
                    </div>
                    {% if s is pimcore_data_object_class("ProductSet") %}
                        <div>
                            <a href="{{ path('export_images', {id: s.id, mode: 'dependencies'}) }}">
                                <div class="download-button">
                                    <img class="download-button-icon" src="{{ asset('/bundles/pimcoreadmin/img/flat-white-icons/download.svg') }}"/>
                                    {{ "Download images of elements"|trans }}
                                </div>
                            </a>
                        </div>
                    {% endif %}

                    {% if s is pimcore_data_object_class("Product") and s.Instruction %}
                        <div>
                            <a href="{{ s.Instruction }}">
                                <div class="download-button">
                                    <img class="download-button-icon" src="{{ asset('/bundles/pimcoreadmin/img/flat-white-icons/download.svg') }}"/>
                                    {{ "Download user manual"|trans }}
                                </div>
                            </a>
                        </div>
                    {% endif %}

                    {% if s is pimcore_data_object_class("Product") and s.InstructionUS %}
                        <div>
                            <a href="{{ s.InstructionUS }}">
                                <div class="download-button">
                                    <img class="download-button-icon" src="{{ asset('/bundles/pimcoreadmin/img/flat-white-icons/download.svg') }}"/>
                                    {{ "Download user manual US"|trans }}
                                </div>
                            </a>
                        </div>
                    {% endif %}

                    {% if prices %}
                        <table class="set-table" style="margin-top: 12px;">
                            <thead>
                            <tr>
                                <td>{{ "Price level" }}</td>
                                <td>{{ "Price" }}</td>
                                <td>{{ "Currency" }}</td>
                            </tr>
                            </thead>
                            <tbody>
                                {% for price in s.Price %}
                                    {% if price.element.id == prices %}
                                        <tr>
                                            <td>{{ price.element.key}}</td>
                                            <td>{{ price.data.Price }}</td>
                                            <td>{{ price.data.Currency }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="float:left; width: 30%">
            <div style="text-align: center; padding: 18px 10px; position: relative">
                <img src="{{ s.Image.thumbnail("200x200") }}" width="200"/>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</section>