<section>
    <h1>
        {{ "Packages"|trans }}
    </h1>
    <div>
        <table class="packages-table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>{{ "Index"|trans }}</td>
                    <td>{{ "Sku"|trans }}</td>
                    <td>{{ "Quantity"|trans }}</td>
                    <td>{{ "Length"|trans }}</td>
                    <td>{{ "Width"|trans }}</td>
                    <td>{{ "Height"|trans }}</td>
                    <td>{{ "Volume"|trans }}</td>
                    <td>{{ "Weight"|trans }}</td>
                    <td>{{ "Pallet Size"|trans }}</td>
                    <td>{{ "Pallet Count"|trans }}</td>
                    <td>{{ "Pallet Weight"|trans }}</td>
                </tr>
            </thead>
            <tbody>
                {% if item is pimcore_data_object_class("Product") %}
                    {% for lip in item.Packages %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ lip.element.key }}</td>
                            <td>{{ lip.element.Barcode }}</td>
                            <td>{{ lip.data.Quantity }}</td>
                            <td>{{ (lip.element.Depth.Value / 10)|round }} cm</td>
                            <td>{{ (lip.element.Width.Value / 10)|round }} cm</td>
                            <td>{{ (lip.element.Height.Value / 10)|round }} cm</td>
                            <td>{{ lip.element.Volume }}</td>
                            <td>{{ lip.element.Mass }}</td>
                            <td>
                                {% if lip.element.Carriers %}
                                    {% for lic in lip.element.Carriers %}
                                        {{ lic.element.Length }} x {{ lic.element.Width }}
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% set licQty = 0 %}
                                {% if lip.element.Carriers %}
                                    {% for lic in lip.element.Carriers %}
                                        {{ lic.data.Quantity }}
                                        {% set licQty = lic.data.Quantity %}
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if licQty %}
                                    {{ licQty * lip.element.Mass.Value }} kg
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                {% elseif item is pimcore_data_object_class("ProductSet") %}
                    {% set idx = 0 %}
                    {% for prod in item.Set %}
                        {% for lip in prod.element.Packages %}
                            {% set idx = idx + 1 %}
                            <tr>
                                <td>{{ idx }}</td>
                                <td>{{ lip.element.key }}</td>
                                <td>{{ lip.element.Barcode }}</td>
                                <td>{{ prod.data.Quantity * lip.data.Quantity }}</td>
                                <td>{{ (lip.element.Depth.Value / 10)|round }} cm</td>
                                <td>{{ (lip.element.Width.Value / 10)|round }} cm</td>
                                <td>{{ (lip.element.Height.Value / 10)|round }} cm</td>
                                <td>{{ lip.element.Volume }}</td>
                                <td>{{ lip.element.Mass }}</td>
                                <td>
                                    {% if lip.element.Carriers %}
                                        {% for lic in lip.element.Carriers %}
                                            {{ lic.element.Length.Value / 10 }} cm x {{ lic.element.Width.Value / 10 }} cm
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% set licQty = 0 %}
                                    {% if lip.element.Carriers %}
                                        {% for lic in lip.element.Carriers %}
                                            {{ lic.data.Quantity }}
                                            {% set licQty = lic.data.Quantity %}
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if licQty %}
                                        {{ licQty * lip.element.Mass.Value }} kg
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
