<section>
    <h1>{{ "Parameters"|trans }}</h1>
    {% if s.Parameters and s.Parameters.groups|length %}
    <div style="column-count: 3">

        {% for group in s.Parameters.groups %}
            <div class="mb-4">
                <table class="packages-table">
                    <thead>
                    <tr>
                        <td colspan="2">
                            <div>
                                {{ group.configuration.name|trans }}
                            </div>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key in group.keys %}
                        <tr>
                            <td>
                                {{ key.configuration.title|trans }}
                            </td>
                            <td>
                                {% if key.value %}
                                    {% if key.value is iterable %}
                                        {% for keyItem in key.value %}
                                            {% if keyItem is iterable %}
                                                <strong>
                                                    {{ key.value|trans }}
                                                </strong>
                                            {% else %}
                                                <strong>
                                                    {{ keyItem|trans }}
                                                </strong>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% if key.configuration.type == "booleanSelect" %}
                                            <strong>{{ "yes"|trans }}</strong>
                                        {% else %}
                                            <strong>{{ key.value|trans }}</strong>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if key.configuration.type == "booleanSelect" %}
                                        <strong>{{ "no"|trans }}</strong>
                                    {% else %}
                                        -
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}

    </div>
    {% else %}
        <div style="width: 100%; height: 350px">
            {{ include('factory/parts/textarea_placeholder.html.twig') }}
        </div>
    {% endif %}
</section>