<div {% if not order.published and type != "pdf" %}style="text-decoration: line-through"{% endif %}>
    {{ order.key }}
</div>

{% if order.user %}
    {% if app.user.schedule_show_supplier %}
        <div {% if not order.published and type != "pdf" %}style="text-decoration: line-through"{% endif %}>
            {{ order.user.key }}
        </div>
    {% else %}
        ****
    {% endif %}
{% endif %}

<div class="m-1">
    <button class="btn btn-outline-secondary serie-cutting-btn"
            type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Rozkroje"
            data-id="{{ serieIds|join('-') }}">
        <img src="/UI/loading.gif" height="20" width="20" id="serie-cutting-spinner-{{ serieIds|join('-') }}" style="display: none">
        <img src="/bundles/pimcoreadmin/img/flat-color-icons/template.svg" id="serie-cutting-icon-{{ serieIds|join('-') }}" height="20" width="20">
        Rozkroje
    </button>
</div>
<div class="m-1">
    <button class="btn btn-outline-secondary serie-borders-btn"
            type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Materiały"
            data-id="{{ serieIds|join('-') }}">
        <img src="/UI/loading.gif" height="20" width="20" id="serie-borders-spinner-{{ serieIds|join('-') }}" style="display: none">
        <img src="/bundles/pimcoreadmin/img/flat-color-icons/survey.svg" id="serie-borders-icon-{{ serieIds|join('-') }}" height="20" width="20">
        Obrzeża
    </button>
</div>
<div class="m-1">
    <button class="btn btn-outline-secondary serie-supplies-btn"
            type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Rozkroje"
            data-id="{{ serieIds|join('-') }}">
        <img src="/UI/loading.gif" height="20" width="20" id="serie-supplies-spinner-{{ serieIds|join('-') }}" style="display: none">
    <img src="/bundles/pimcoreadmin/img/flat-color-icons/workflow.svg" id="serie-supplies-icon-{{ serieIds|join('-') }}" height="20" width="20">
        Dostawy
    </button>
</div>