{% if app.user.schedule_product_link %}
    {% if app.user.schedule_product_path %}
        <div style="font-size: 10px;">
            {{ p.element.path }}
        </div>
    {% endif %}
    <a href="{{ path("factory_tree", {id:p.element.id})}}" style="text-decoration: none; {% if not p.element.published and type != "pdf" %}text-decoration-line: line-through{% endif %}">
        {% if app.user.schedule_item_show_id %}
            <span class="badge text-bg-info rounded-pill">
                {{ p.element.id }}
            </span>
        {% endif %}
        {{ p.element.key }}
    </a>
{% else %}
    {% if app.user.schedule_item_show_id %}
        <span class="badge text-bg-info rounded-pill">
                {{ p.element.id }}
            </span>
    {% endif %}
    {{ p.element.key }}
{% endif %}

{% if app.user.schedule_show_packages and type != 'pdf' %}
    {% for lip in p.element.packages %}
        <div class="btn-group ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ lip.element.key }}">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ asset('bundles/pimcoreadmin/img/flat-color-icons/deployment.svg') }}" height="16"/>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{{ path("factory_tree", {id: lip.element.id}) }}" target="_blank">
                        {{ lip.element.key }}
                    </a>
                </li>
                <li>
                    {% set stickerStep = 90 %}
                    <a target="_blank" class="dropdown-item" href="{{ path("factory_labels", {id: lip.element.id, serie_id: s.id, copies: lip.data.Quantity * p.data.Quantity, product_id: p.element.id, step: stickerStep} ) }}">
                        {{ "Stickers"|trans }}
                    </a>
                </li>
                <li>
                    {% set dim = "150x60" %}
                    {% if lip.element.Height.value < 60 %}
                        {% set dim = "140x30" %}
                    {% endif %}

                    <a target="_blank" class="dropdown-item" href="{{ path("factory_labels", {
                        id: lip.element.id,
                        serie_id: s.id,
                        copies: lip.data.Quantity * p.data.Quantity,
                        product_id: p.element.id, size: dim,
                        customer_id: s.user.id
                    }) }}">
                        {{ "Labels"|trans }} (x{{ lip.data.Quantity * p.data.Quantity }})
                    </a>
                </li>
                {% if lip.element.Carriers and lip.element.Carriers[0].data.Quantity %}
                    <li>
                        <a target="_blank" class="dropdown-item" href="{{ path("factory_labels", {
                            id: lip.element.id,
                            serie_id: s.id,
                            copies: lip.data.Quantity * p.data.Quantity,
                            step: lip.element.Carriers[0].data.Quantity,
                            product_id: p.element.id, size: dim,
                            size: '150x100',
                            tpl: 'bulk'
                        }) }}">
                            {{ "Bulk labels"|trans }} (x{{ (lip.data.Quantity * p.data.Quantity / lip.element.Carriers[0].data.Quantity)|round(0, 'ceil') }})
                        </a>
                    </li>
                    {% else %}
                        <li class="dropdown-item disabled">
                            {{ "Bulk labels"|trans }}
                        </li>
                {% endif %}
                <li>
                    {% set dim = "150x100" %}

                    <a target="_blank" class="dropdown-item" href="{{ path("factory_labels", {
                        id: lip.element.id,
                        serie_id: s.id,
                        copies: 1,
                        product_id: p.element.id, size: dim
                    }) }}">
                        {{"Large label"|trans}} ({{ dim }})
                    </a>
                </li>
                <li>
                    {% set dim = "100x150" %}

                    <a target="_blank" class="dropdown-item" href="{{ path("factory_labels", {
                        id: lip.element.id,
                        serie_id: s.id,
                        copies: 1,
                        product_id: p.element.id, size: dim
                    }) }}">
                        {{ "Large label"|trans }} ({{ dim }})
                    </a>
                </li>
                <li>
                    <a target="_blank" class="dropdown-item" href="{{ path("factory_labels_elements", {
                        id: lip.element.id,
                        size: "20x32"})
                    }}">
                        {{ "Elements"|trans }} - QR
                    </a>
                </li>
                <li>
                    <a target="_blank" class="dropdown-item" href="{{ path("factory_labels_elements", {
                        id: lip.element.id,
                        tpltype: "elements",
                        size: "32x20"})
                    }}">
                        {{ "Elements"|trans }} - C128
                    </a>
                </li>
            </ul>
        </div>
    {% endfor %}
{% endif %}

{% if app.user.schedule_show_cartoon and type != 'pdf' %}
    {% for lip in p.element.packages %}
        <button {% if lip.element.Model %}data-id="{{ order.key }}-{{ lip.element.Model }}"{% endif %} data-quantity="{{ p.data.Quantity }}" class="package btn btn-outline-secondary btn-sm" type="button" role="button" data-bs-toggle="button">
            {% if lip.element.Model %}
               {{ lip.element.Model }}
            {% else %}
                {{ lip.element.key }}
            {% endif %}
            <img src="{{ asset('bundles/pimcoreadmin/img/flat-color-icons/deployment.svg') }}" height="16"/>
        </button>
    {% endfor %}
{% endif %}

{% if app.user.schedule_order_sheets and type != 'pdf' %}
    <button class="btn btn-outline-secondary serie-sheets-btn"
            type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Arkusze"
            data-id="{{ serie.id }}" data-product="{{ p.element.key }}" data-label="{{ order.key }}-{{ serie.id }}-{{ p.element.key }}">
        <img src="/UI/loading.gif" height="20" width="20" id="serie-sheets-spinner-{{ serie.id }}" style="display: none">
        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMi4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAsMGgyNHYyNEgwVjB6Ii8+DQo8cmVjdCB4PSI0IiB5PSIxOCIgZmlsbD0iIzg5QkJGOCIgd2lkdGg9IjE2IiBoZWlnaHQ9IjMiLz4NCjxyZWN0IHg9IjQiIHk9IjMiIGZpbGw9IiM4OUJCRjgiIHdpZHRoPSIxNiIgaGVpZ2h0PSIzIi8+DQo8Zz4NCgk8cmVjdCB4PSI0IiB5PSI5IiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMTYiIGhlaWdodD0iNiIvPg0KCTxwYXRoIGZpbGw9IiM1QjlDRjUiIGQ9Ik0yMiw4SDJ2OGgyMFY4TDIyLDh6Ii8+DQo8L2c+DQo8L3N2Zz4NCg==" id="serie-sheets-icon-{{ serie.id }}" height="20" width="20">
    </button>
{% endif %}