{% if app.user.schedule_show_send_date %}
    {% if serie.date == null %}
        {{ "Missing Date"|trans }}
    {% else %}
        {{ serie.date|date("d.m") }}
    {% endif %}
{% else %}
    ****
{% endif %}

{% if app.user.schedule_change_date and type != 'pdf' %}
    <div id="add-date-{{ serie.id }}-form" style="display: none">
        <input class="datepicker" style="width: 85px;" value="{{ serie.date|date("d.m.Y") }}" data-id="{{ serie.id }}"/>
    </div>
    <div id="add-date-{{ serie.id }}-toggle" data-id="{{ serie.id }}" class="add-date-toggle btn btn-outline-primary btn-sm ms-1">
        <img src="/bundles/pimcoreadmin/img/flat-color-icons/edit.svg" height="18"/>
    </div>
{% endif %}

{% if app.user.schedule_show_serie_carrier and serie.Carrier %}
<div>
    {{ serie.Carrier.key }}
</div>
{% endif %}

{% if serie.Attachments and app.user.schedule_show_serie_attachments %}
    <div>
        {% for att in serie.Attachments %}
            <a href="{{ att }}" target="_blank">
                <img src="/bundles/pimcoreadmin/img/flat-color-icons/file-types.svg" height="18">
                {{ att.filename }}
            </a><br/>
        {% endfor %}
    </div>
{% endif %}
