<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            font-size: 9px;
        }
        .page {
            width: 850px;
            height: 566px;
            position: relative;
            border: 1px solid #000;
        }

        .center {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
            box-sizing: border-box;
        }

    </style>
</head>
<body>

{% set step = min(copies, step) %}
{% set steps = (copies / step)|round(0, 'ceil') %}
{% for i in range(1, steps) %}
    <div class="page">
        <div class="center">
            <div style="display: flex; align-items: center; justify-content: space-around;">
                {{ code_128(package.barcode, "C128", 140, 3) }}
            </div>
            <div style="font-size: 21px; padding: 12px 0;">
                {{ package.barcode }}
            </div>
            <div style="font-size: 72px; font-weight: bold; word-break: keep-all">
                {{ package.key }}<br/>
            </div>

            {% if order %}
                <div>
                    {% if order.parent is pimcore_data_object_class("Order") %}
                        {{ order.parent.key }}
                    {% else %}
                        {{ order.key }}
                    {% endif %}
                    ({{ order.id }})
                </div>
            {% endif %}

        </div>
    </div>

{% endfor %}
</body>
</html>
