<style>

    table
    {
        border: 1px solid black;
        border-collapse: collapse;
    }

    td
    {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 6px;
    }
</style>
<table>
    <thead>
    <tr>
        <td>#</td>
        <td>Image</td>
        <td>Product</td>
        <td>Base Price</td>
        <td>{{ pricing.key }}</td>
        <td>Narzut</td>
        <td>Marża</td>
        <td>Zysk</td>
    </tr>
    </thead>
    <tbody>
    {% for req in pricing.getDependencies().getFilterRequiredByPath() %}
        {% set product = pimcore_object(req.id) %}

        {% if product and req.type == 'object' and (product is pimcore_data_object_class("Product") or product is pimcore_data_object_class("ProductSet")) %}

            <tr>
                <td>
{#                    {{ loop.index }}#}
                    {{ product.id }}
                </td>
                <td>
                    {{ product.Image.thumbnail("50x50").html|raw }}
                </td>
                <td>
                    <strong>
                        {{ product.key }}
                    </strong><br/>
                    {{ product.Name }}
                    <br/>
                    {% if product is pimcore_data_object_class("Product") %}
                        {{ product.Width }} x {{ product.Height }} x {{ product.Depth }}

                    {% endif %}
                </td>
                <td>
                    {{ product.BasePrice }}
                </td>
                <td>
                    {% set diff = 0 %}
                    {% set pr = 0 %}

                    {% for offer in product.Offers %}
                        {% if offer["Offer"].data.id == pricing.id %}
                            {{ offer["Price"].data }}

                            {% set pr = offer["Price"].data.Value %}
                            {% set diff = offer["Price"].data.Value - product.BasePrice.Value %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ (100 * diff / product.BasePrice.Value)|round }} %
                </td>
                <td>
                    {% if pr %}
                        {{ (100 * diff / pr)|round }} %
                    {% endif %}
                </td>
                <td>
                    {{ diff }} zł
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>