<html>
<head>
    <title>Cennik</title>
{#    <link rel="stylesheet" type="text/css" href="/static/print/css/print-style.css"/>#}
{#    <link rel="stylesheet" type="text/css" href="/bundles/pimcorewebtoprint/css/print/print-printermarks.css" media="print" />#}
{#    <link rel="stylesheet" type="text/css" href="/static/print/css/print-preview.css" media="screen" />#}
    <style>

        html, body
        {
            font-family: Poppins, sans-serif;
            padding: 0;
            margin: 0;
        }

        .pb
        {
            page-break-after: always;
        }

        @page {
            size: A4;
            margin: 10mm 0 10mm 0;

            @top-right {
                content: "{{ "Datasheet"|trans }} - {{ group.name }}";
                padding: 16px;
                font-size: 12px;
                font-style: italic;
            }

            @bottom-center {
                content: "www.megstyl.pl";
                padding: 16px;
            }

            @bottom-right {
                content: counter(page);
                padding: 16px;
            }
        }

        @page :first {
            margin: 0;
        }

        .page-content
        {
            padding: 0 10mm 0 10mm;
            box-sizing: border-box;
        }

        .table
        {
            width: 100%;
            text-align: center;
            box-sizing: border-box;
        }

        .packages-table, .set-table
        {
            width: 100%;
            text-align: center;
            border-collapse: collapse;
            border: 1px solid #cacaca;
        }

        .packages-table td, .set-table td
        {
            border: 1px solid #cacaca;
            border-collapse: collapse;
        }

        .packages-table thead tr, .set-table thead tr
        {
            background: #e5e5e5;
            padding: 4px;
            font-weight: bolder;
            font-size: 9px;
        }

        .download-button
        {
            display: inline-block;
            padding: 6px 8px;
            background: #1d9cf3;
            color: #fff;
            border-radius: 12px;
            text-align: center;
            margin-top: 12px;
        }

        .packages-table tbody tr td, .set-table tbody tr td
        {
            padding: 3px;
            font-size: 9px;
            font-weight: normal;
        }

        section
        {
            margin-bottom: 32px;
        }

        .download-button-icon
        {
            position: relative;
            top: 3px;
            height: 18px;
        }

        .page
        {
            position: relative;
            page-break-before: always;
        }

    </style>
</head>
<body>

{% if "cover"=="cover" %}
    <div class="page">
        <img src="{{ asset("/LOGO/megstyl.svg") }}" style="display: block; height: 100px; top: 12px; left: 50%; transform: translateX(-50%); position: absolute"/>
        <img src="{{ group.Image.thumbnail("a4_center") }}" style="display: block; z-index: 500; height: 100%; width: 100%"/>
        <img src="{{ asset("/UI/gear.png") }}" style="display: block; height: 285px; width: 285px; position: absolute; right: -20px; bottom: -20px; opacity: 0.16;"/>

        <div style="position: absolute; right: 48px; bottom: 85px; color: #fff; text-align: right;">
            <div style="font-size: 72px">
                {{ group.key }}
            </div>
            <div style="font-size: 18px">
                {{ "Data Sheet"|trans|upper }}
            </div>
        </div>

        <div style="position: absolute; left: 16px; bottom: 16px; width: 100%">
            {% set ref = app.request.requestUri %}
            {% set curr = app.request.locale %}

            {% for l in selected_languages() %}

                {% set flag = l %}

                <a href="{{ ref|replace({('/' ~ curr ~ '/'): ('/' ~ l ~ '/')}) }}" style="text-decoration: none">
                    <img src="{{ pimcore_language_flag(l)|replace({"/var/www/html/public": ""}) }}"
                         style="display: inline-block; height: 18px; margin: 3px"/>
                </a>

            {% endfor %}
        </div>

    </div>
    <div class="pb"></div>
{% endif %}

{% if "summary"=="summary" %}
    <div class="page" style="overflow: hidden">
        <div style="background-image: url('{{ group.Image.thumbnail("a4_center") }}'); width: 100%; height: 100%; background-position: center; background-size: cover"></div>
        <div style="position: absolute; width: 15.5cm; right: 32px; bottom: 108px; background: none; color: #fafafa; font-weight: bolder">
            {{ group.description|raw }}
        </div>
    </div>
    <div class="pb"></div>
{% endif %}

{% if "products"=="products" and (prods|length + common|length) > 0 %}
    <div class="page">
        <div class="page-content">
            <h1>
                {{ "Products"|trans }}
            </h1>
            <table class="table">
                <tbody>
                {% set c = 0 %}

                {% for s in prods %}
                    {% if s.published %}
                        {% if c == 0 %}
                            <tr>
                        {% endif %}
                        <td>
                            {{ include('factory/pdf/parts/_gallery_item.html.twig', {item: s}) }}
                        </td>
                        {% if c == products_row_cnt - 1 %}
                            </tr>
                        {% endif %}
                        {% set c = (c + 1) % (products_row_cnt) %}
                    {% endif %}
                {% endfor %}

                {% for s in common %}
                    {% if s.published %}
                        {% if c == 0 %}
                            <tr>
                        {% endif %}
                        <td>
                            {{ include('factory/pdf/parts/_gallery_item.html.twig', {item: s}) }}
                        </td>
                        {% if c == products_row_cnt - 1 %}
                            </tr>
                        {% endif %}
                        {% set c = (c + 1) % (products_row_cnt) %}
                    {% endif %}
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
    <div class="pb"></div>
{% endif %}

{% if "sets"=="sets" and sets|length > 0 %}
    <div class="page">
        <div class="page-content">
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="{{ sets_row_cnt }}" style="text-align: left">
                            <h1>
                                {{ "Sets"|trans }}
                            </h1>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% set c = 0 %}

                    {% for s in sets %}
                        {% if s.published %}
                            {% if c == 0 %}
                                <tr>
                            {% endif %}
                            <td>
                                {{ include('factory/pdf/parts/_gallery_item.html.twig', {item: s}) }}
                            </td>
                            {% if c == sets_row_cnt - 1 %}
                                </tr>
                            {% endif %}
                            {% set c = (c + 1) % (sets_row_cnt) %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pb"></div>
{% endif %}

{% if "set" == "set" and sets|length > 0 %}
    {% for s in sets %}
        {% if s.published %}
            <article>
                <section id="{{ s.id }}">
                    <div class="page">
                        <div class="page-content">
                            {{ include('factory/pdf/parts/_item_header.html.twig', {item: s}) }}
                            {{ include('factory/pdf/parts/_packages.html.twig', {item: s}) }}
                            {{ include('factory/pdf/parts/_set_elements.html.twig', {item: s}) }}
                        </div>
                    </div>
                </section>
            </article>
            <div class="pb"></div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if "item" == "item" and prods|length > 0 %}
    {% for s in prods %}
        {% if s.published %}
            <article>
                <section id="{{ s.id }}">
                    <div class="page">
                        <div class="page-content">
                            {{ include('factory/pdf/parts/_item_header.html.twig', {item: s}) }}
                            {{ include('factory/pdf/parts/_packages.html.twig', {item: s}) }}
                            {{ include('factory/pdf/parts/_product_parameters.html.twig', {item: s}) }}
                        </div>
                    </div>
                </section>
            </article>
            <div class="pb"></div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if "related_item" == "related_item" and common|length > 0 %}
    {% for s in common %}
        {% if s.published %}
            <article>
                <section id="{{ s.id }}">
                    <div class="page">
                        <div class="page-content">
                            {{ include('factory/pdf/parts/_item_header.html.twig', {item: s}) }}
                            {{ include('factory/pdf/parts/_packages.html.twig', {item: s}) }}
                            <h1>{{ "Parameters"|trans }}</h1>
                            <div style="column-count: 3">

                                    {% for group in s.Parameters.groups %}
                                        <div class="mb-4">
                                            <table class="packages-table">
                                                <thead>
                                                <tr>
                                                    <td colspan="2">
                                                        <div>
                                                            {{ group.configuration.name }}
                                                        </div>
                                                    </td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for key in group.keys %}
                                                    <tr>
                                                        <td>
                                                            {{ key.configuration.title }}
                                                        </td>
                                                        <td>
                                                            {% if key.value %}
                                                                {% if key.value is iterable %}
                                                                    {% for keyItem in key.value %}
                                                                        {% if keyItem is iterable %}
                                                                            {{ key.value }}
                                                                        {% else %}
                                                                            <span>
                                                                                {{ keyItem }}
                                                                            </span>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% else %}
                                                                    {{ key.value }}
                                                                {% endif %}
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            </article>
            <div class="pb"></div>
        {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>