<a href="{{ el }}" class="list-item">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img src="/UI/cnc.jpg" height="50"/>
                <span style="margin-left: 8px">
                    {{ el.key }}
                    <span class="badge" style="background-color: {% if color is defined%}{{ color }}{% else %}#198754{% endif %}">{{ machine }}</span>
                    {% if x2 is defined %}
                        <span class="badge text-bg-primary">x2</span>
                    {% endif %}
                </span>
                <small class="text-body-secondary" style="font-size: 11px;  margin: 0 18px">
                    {{ el.modificationDate|date("H:i d.m.Y") }}
                </small>
                <small class="text-body-secondary" style="font-size: 11px; font-family: monospace, monospace;">
                    {{ el.customSettings.checksum|slice(-8) }}
                </small>
            </div>
        </div>
    </div>
</a>