{% for req in obj.getDependencies().getFilterRequiredByPath() %}
    {% if req.type == 'object' %}
        {% set item = pimcore_object(req.id) %}

        {% set skip = false %}

        {% if item is pimcore_data_object_class("Package") %}

        {% elseif item is pimcore_data_object_class("Order") and not app.user.product_show_orders %}
            {% set skip = true %}

        {% elseif item is pimcore_data_object_class("ProductSet") and not app.user.product_show_sets %}
            {% set skip = true %}

        {% endif %}

        {% if not skip %}
            <div class="col" style="{% if (not item is instanceof("\\Pimcore\\Model\\DataObject\\Folder")) and not item.published %}opacity:0.3{% endif %}">
                <a href="{{ path("factory_tree", {id: item.id}) }}" class="text-center">
                    <div class="card h-100 p-1">
                        {% if item is instanceof("\\Pimcore\\Model\\DataObject\\Folder") %}
                            <img src="{{ asset('bundles/pimcoreadmin/img/flat-color-icons/folder.svg') }}" class="img-fluid">

                        {% elseif item is pimcore_data_object_class("Package") %}
                            <img src="/bundles/pimcoreadmin/img/flat-color-icons/deployment.svg" class="img-fluid">

                        {% elseif item is pimcore_data_object_class("Order") %}

                            {% if item.user and item.user.Image %}
                                <img src="{{ item.user.Image.thumbnail("200x200") }}" class="img-fluid">
                            {% else %}
                                <img src="/bundles/pimcoreadmin/img/flat-color-icons/shopping-cart.svg" class="img-fluid">
                            {% endif %}

                        {% elseif item is pimcore_data_object_class("Product") and item.Image %}
                            <img src="{{ item.Image.thumbnail("200x200") }}" class="img-fluid">

                        {% elseif item is pimcore_data_object_class("ProductSet") and item.Image %}
                            <img src="{{ item.Image.thumbnail("200x200") }}" class="img-fluid">

                        {% else %}
                            <img src="/UI/2-puzzle.svg" class="img-fluid">

                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ item.key }}
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

{% if obj is pimcore_data_object_class("Product") and app.user.product_show_elements %}
    {% for lip in obj.Packages %}
        {% for el in lip.element.Elements %}
            <div class="col">
                <a href="{{ el.element }}" class="text-center">
                    <div class="card h-100 p-1">
                        <div class="card-body">
                            <img src="{{ el.element.getImageThumbnail("200x200") }}" class="img-fluid"/>
                            <h5 class="card-title">
                                {{ el.element.key }}
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% if obj is pimcore_data_object_class("Product") and app.user.product_show_cnc_skipper %}
    {% for el in obj.SkipperCNC %}
        {{ include('factory/listings/_grid_cnc.html.twig', {el: el, machine: 'Skipper'}) }}
    {% endfor %}

    {% for el in obj.SkipperCNC2 %}
        {{ include('factory/listings/_grid_cnc.html.twig', {el: el, machine: 'Skipper', x2: true}) }}
    {% endfor %}
{% endif %}

{% if obj is pimcore_data_object_class("Product") and app.user.product_show_cnc_master %}
    {% for el in obj.MasterCNC %}
        {{ include('factory/listings/_grid_cnc.html.twig', {el: el, machine: 'Master', color: "#c99a16"}) }}
    {% endfor %}

    {% for el in obj.MasterCNC2 %}
        {{ include('factory/listings/_grid_cnc.html.twig', {el: el, machine: 'Master', color: "#c99a16", x2: true}) }}
    {% endfor %}
{% endif %}
