<div class="container-fluid">
    <div class="row">
        {% if obj.Image %}
            <div class="col-12 text-center">
                <a href="{{ obj.Image }}">
                    <img src="{{ obj.Image.thumbnail("200x200") }}" class="img-fluid"/>
                </a>
            </div>
        {% endif %}
        <div class="col-12 text-center">
            <h1>
                {{ obj.key }}
                <a target="_blank" href="/admin/login/deeplink?object_{{ obj.id }}_object">
                    <img height="40" src="/bundles/pimcoreadmin/img/flat-color-icons/input.svg"/>
                </a>
            </h1>
        </div>
        <div class="col-12 text-center">
            <div>
                {% if obj.Name is defined and obj.Name %}
                    {{ obj.Name }}
                {% endif %}
            </div>
        </div>

        {% if obj.Set %}
            <div class="col-12 text-center">
                {% if obj.Stock == 0 %}
                    <span class="badge text-bg-danger pt-2">
                        <img class="stock-indicator" src="{{ asset('bundles/pimcoreadmin/img/flat-white-icons/empty_battery.svg') }}"/>
                        {{ obj.Stock }} szt.
                    </span>

                {% elseif obj.Stock < 3 %}
                    <span class="badge text-bg-danger pt-2">
                        <img class="stock-indicator" src="{{ asset('bundles/pimcoreadmin/img/flat-white-icons/low_battery.svg') }}"/>
                        {{ obj.Stock }} szt.
                    </span>

                {% elseif obj.Stock < 10 %}
                    <span class="badge text-bg-warning pt-2">
                        <img class="stock-indicator" src="{{ asset('bundles/pimcoreadmin/img/flat-white-icons/middle_battery.svg') }}"/>
                        {{ obj.Stock }} szt.
                    </span>

                {% elseif obj.Stock < 30 %}
                    <span class="badge text-bg-success pt-2">
                        <img class="stock-indicator" src="{{ asset('bundles/pimcoreadmin/img/flat-white-icons/high_battery.svg') }}"/>
                        {{ obj.Stock }} szt.
                    </span>

                {% else %}
                    <span class="badge text-bg-success pt-2">
                        <img class="stock-indicator" src="{{ asset('bundles/pimcoreadmin/img/flat-white-icons/full_battery.svg') }}"/>
                        {{ obj.Stock }} szt.
                    </span>
                {% endif %}
            </div>
        {% endif %}

        <div class="col-12 text-center">
            {% if obj.Groups %}
                {% for g in obj.Groups %}
                    <a href="{{ path("factory_tree", {id: g.id}) }}" style="display: inline-block">
                        <div class="badge rounded-pill bg-primary">#{{ g.key }}</div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>

        <div class="col-12 mt-1">
            <a href="{{ path("factory_datasheet", {id: obj.id}) }}">
                <div class="btn btn-outline-primary" style="width: 100%;">
                    <img height="40" src="/bundles/pimcoreadmin/img/flat-color-icons/pdf.svg" class="card-img-top" alt="...">
                    {{ "Datasheet"|trans }}
                </div>
            </a>
        </div>

        {% if obj.Set %}
            {% for lip in obj.Set %}
                <div class="col-12 mt-1">
                    <a href="{{ path("factory_tree", {id: lip.object.id}) }}">
                        <div class="btn btn-outline-primary" style="width: 100%;">
                            {% if lip.data.Quantity and lip.data.Quantity > 1 %}
                                {{ lip.data.Quantity }}x
                            {% endif %}
                            {% if lip.object.Image %}
                                <img src="{{ lip.object.Image.thumbnail("50x50") }}" width="50" height="50">
                            {% endif %}
                            {{ lip.object.key }}

                            {% set liStock = lip.object.Stock / max(lip.data.Quantity, 1) %}

                            {% if liStock == 0 %}
                                <span class="badge text-bg-danger pt-2">
                                    <img class="stock-indicator" src="{{ asset('bundles/pimcoreadmin/img/flat-white-icons/empty_battery.svg') }}"/>
                                    {{ lip.object.Stock }} szt.
                                </span>

                                {% elseif liStock < 3 %}
                                <span class="badge text-bg-danger pt-2">
                                    <img class="stock-indicator" src="{{ asset('bundles/pimcoreadmin/img/flat-white-icons/low_battery.svg') }}"/>
                                    {{ lip.object.Stock }} szt.
                                </span>

                                {% elseif liStock < 10 %}
                                    <span class="badge text-bg-warning pt-2">
                                    <img class="stock-indicator" src="{{ asset('bundles/pimcoreadmin/img/flat-white-icons/middle_battery.svg') }}"/>
                                    {{ lip.object.Stock }} szt.
                                </span>

                                {% elseif liStock < 30 %}
                                    <span class="badge text-bg-success pt-2">
                                    <img class="stock-indicator" src="{{ asset('bundles/pimcoreadmin/img/flat-white-icons/high_battery.svg') }}"/>
                                    {{ lip.object.Stock }} szt.
                                </span>

                                {% else %}
                                    <span class="badge text-bg-success pt-2">
                                    <img class="stock-indicator" src="{{ asset('bundles/pimcoreadmin/img/flat-white-icons/full_battery.svg') }}"/>
                                    {{ lip.object.Stock }} szt.
                                </span>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>