{% for el in obj.elements %}
    {% if el.element is pimcore_asset_document %}
        <a href="{{ el.element }}" class="list-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <img src="{{ el.element.getImageThumbnail("200x200") }}" height="50"/>
                        <span style="margin-left: 8px">
                            {{ el.element.key }}
                        </span>
                    </div>
                </div>
            </div>
        </a>
    {% elseif el.element is pimcore_data_object_class("Package") %}
        <a href="{{ path("factory_tree", {id: el.element.id}) }}" class="list-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <img src="{{ asset('bundles/pimcoreadmin/img/flat-color-icons/deployment.svg') }}" height="50"/>
                        <span style="margin-left: 8px">
                            {{ el.element.key }}
                        </span>
                    </div>
                </div>
            </div>
        </a>
    {% endif %}
{% endfor %}

