<!doctype html>
<html lang="{{ app.request.locale }}" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="/bundles/pimcoreadmin/img/favicon/favicon-32x32.png">
    <title>{{ title ?? "PIM - Megstyl" }}</title>
    <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <style>
        .nav-top
        {
            background: #222223;
            margin: 0;
            padding: 0;
        }

        .nav-link
        {
            color: #f8f8f8 !important;
        }

        .nav-link:hover
        {
            color: #ffffff;
        }
    </style>
</head>
<body>
<header class="sticky-top nav-top">
    <nav class="navbar navbar-expand-lg bd-navbar p-0 m-0">
        <div class="container">
            <a class="navbar-brand" href="{{ path('factory_home') }}">
                <img src="/LOGO/megstyl_logotyp.svg" height="32" alt="Bootstrap">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="background-image: url('/bundles/pimcoreadmin/img/flat-white-icons/menu.svg')"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if app.user.nav_show_collections %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("factory_tree", {id: pimcore_object_by_path('/GRUPY/KOLEKCJE').id}) }}">
                                {{ "Collections"|trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user.nav_show_products %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("factory_tree", {id: pimcore_object_by_path('/PRODUKTY').id}) }}">
                                {{ "Products"|trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user.nav_show_types %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("factory_tree", {id: pimcore_object_by_path('/GRUPY/TYP').id}) }}">
                                {{ "Types"|trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user.nav_show_sets %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("factory_tree", {id: pimcore_object_by_path('/ZESTAWY').id}) }}">
                                {{ "Sets"|trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user.nav_show_packages %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("factory_tree", {id: pimcore_object_by_path('/PACZKI').id}) }}">
                                {{ "Packages"|trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user.permission_schedule %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("factory_schedule") }}">
                                {{ "Schedule"|trans }}
                                <img src="/bundles/pimcoreadmin/img/flat-white-icons/factory.svg" height="20" style="position: relative; top: -3px;" alt="Factory"/>
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user.explorer_show_search %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("factory_search") }}">
                                <img src="/bundles/pimcoreadmin/img/flat-color-icons/search.svg" height="18">
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="ml-auto me-3">
                <span type="button" class="btn btn-outline-light" id="font-decrease">
                    <span style="font-size: 9px">
                        A-
                    </span>
                </span>
                <span type="button" class="btn btn-outline-light" id="font-increase">
                    <span style="font-size: 18px">
                        A+
                    </span>
                </span>
            </div>

            <div class="me-3">

                {% if app.user %}
                    <a class="nav-link" href="{{ path("factory_account") }}">
                        {{ app.user.email }}
                        <img src="/bundles/pimcoreadmin/img/flat-white-icons/person.svg">
                    </a>
                {% else %}
                    <a class="nav-link" href="{{ path("factory_login") }}">
                        <img src="/bundles/pimcoreadmin/img/flat-white-icons/person.svg">
                    </a>
                {% endif %}
            </div>

            {% if app.user %}
                <a class="nav-link" href="{{ path("factory_logout") }}">
                    <img src="/bundles/pimcoreadmin/img/material-icons/outline-logout-24px.svg">
                </a>
            {% endif %}

        </div>
    </nav>
    <div style="width: 100%; background: #086513; color: #fafafa; border-bottom: 1px solid #282A35; text-align: center">
        <div id="statusbar"></div>
    </div>
</header>
<main style="min-height: 100vh;">
    <div class="container">
        {{ block("content") ?? "" }}
    </div>
</main>
<footer>
    <div class="container-fluid pt-3 pb-3">
        <div class="row">
            <div class="col-12 text-center" style="font-size:11px">
                {{ "Copyright"|trans }} © MEGSTYL 2015-{{ "now"|date("Y") }}. {{ "All rights reserved"|trans }}.
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
$("document").ready(function() {

   $(".layer-selector").click(function() {
       $(this).toggleClass("active");
   });

   var textFontSize = parseInt(localStorage.getItem("textFontSize")) ?? 12;

   $(".schedule tbody td").attr("style", "font-size:" + textFontSize + "px");

   $("#font-increase").click(function() {
        textFontSize += 1;
        localStorage.setItem("textFontSize", textFontSize);
       $(".schedule tbody td").attr("style", "font-size:" + textFontSize + "px");
   });

   $("#font-decrease").click(function() {
       textFontSize -= 1;
       localStorage.setItem("textFontSize", textFontSize);
       $(".schedule tbody td").attr("style", "font-size:" + textFontSize + "px");
   });

});
</script>
</body>
</html>