<html>
<head>
    <style>
        * {
            font-size: 8px;
        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
            font-size: 9px;
        }
        .page {
            width: 568px;
            height: 227px;
            position: relative;
            border: 1px solid #000;
        }

        .head-info
        {
            width: 100%;
            height: 100%;
            border-collapse:collapse;
        }

        .head-info tr td
        {
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 4px;
        }

        .addr
        {
            text-align: center;
            font-size: 8px;
        }

        .addr-header
        {
            text-align: center;
        }

        .header-row
        {
            font-size: 9px;
        }

        .address
        {
            writing-mode: sideways-lr;
            text-orientation: mixed;
            text-align: center;
            font-size: 9px;
            padding: 6px;
        }

        .v
        {
            writing-mode: vertical-rl;
            text-orientation: sideways;
            transform: rotate(-180deg);
        }

        .no-break
        {
            word-break: keep-all;
        }

        .error
        {
            font-size: 12px;
            color: #fa0000;
            font-weight: bold;
            padding: 6px;
            background-color: #ffe750;
        }

    </style>
</head>
<body>

{% set step = min(copies, step) %}
{% set steps = (copies / step)|round(0, 'ceil') %}
{% for i in range(1, steps) %}
    <div class="page">
        <table class="head-info">
            <tbody>
            <tr style="text-align: center">
                <td colspan="2">
                    PRODUCENT<br/>
                    Grzegorz Mularczyk</br>
                    "MEGSTYL"</br>
                    Żłobnica, ul. Milenijna 10</br>
                    97-410 Kleszczów</br>
                    email: bok@megstyl.pl
                </td>
                <td>
                    <div style="position: relative; display: flex; align-items: center; justify-content: space-around; margin-bottom: 4px">
                        {{ code_128(package.Barcode, "C128", 35) }}
                    </div>
                    <div>
                        {{ package.Barcode }}
                    </div>
                </td>
                <td>
                    <div style="font-weight: bold; font-size: 14px;">
                        {{ package.key }}
                    </div>
                    <div style="font-size: 11px;">
                        nr partii: {{ order.id }}
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="6" style="width: 5px;">
                    <div class="v">
                        <div style="font-size: 8px;">
                            {{ package.key }}
                        </div>
                    </div>
                </td>
                <td colspan="2">
                    <div style="font-size: 9px; text-align: center;">
                        {{ product.Codes.IndexAgata.Code }}
                    </div>
                </td>
                <td>
                    <div style="font-size: 9px; text-align: center;">
                        {{ package.Codes.IndexAgata.Code }}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="font-size: 9px; text-align: center">
                    {{ product.Codes.IndexAgata.Name }}
                </td>
            </tr>
            <tr>
                <td>
                    Długość: {{ (package.Depth.Value / 10)|round }} cm
                </td>
                <td rowspan="3" style="font-size: 22px; text-align: center">
                    1/1
                </td>
                <td rowspan="4">
                    <div style="position: relative; display: flex; align-items: center; justify-content: space-around;">
                        {{ code_128(package.codes.IndexAgata.Barcode, "C128", 80) }}
                    </div>
                    <div style="margin-top: 5px; text-align: center">
                        {{ package.codes.IndexAgata.Barcode }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Szerokość: {{ (package.Width.Value / 10)|round }} cm
                </td>
            </tr>
            <tr>
                <td>
                    Wysokość: {{ (package.Height.Value / 10)|round }} cm
                </td>
            </tr>
            <tr>
                <td>
                    Waga: {{ package.Mass.Value }} kg
                </td>
                <td style="text-align: center">
                    {% if order.parent is pimcore_data_object_class("Order") %}
                        {{ order.parent.key }}
                    {% else %}
                        {{ order.key }}
                    {% endif %}
                    ({{ order.id }})
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endfor %}
</body>
</html>
